// MERGE ALL DEFAULTS WITH EMPTY LISTS
$layout: map-merge($layout_default, ());
$accordeon: map-merge($accordeon_default, ());
$account: map-merge($account_default, ());
$adress_exceptions: map-merge($adress_exceptions_default, ());
$banner_title: map-merge($banner_title_default, ());
$breadcrumb: map-merge($breadcrumb_default, ());
$carrousel: map-merge($carrousel_default, ());
$cta: map-merge($cta_default, ());
$date: map-merge($date_default, ());
$entity: map-merge($entity_default, ());
$footer: map-merge($footer_default, ());
$info: map-merge($info_default, ());
$link_blok: map-merge($link_blok_default, ());
$pill: map-merge($pill_default, ());
$input: map-merge($input_default, ());
$main_nav: map-merge($main_nav_default, ());
$main_search: map-merge($main_search_default, ());
$mobile_nav: map-merge($mobile_nav_default, ());
$news_teaser: map-merge($news_teaser_default, ());
$spotlight: map-merge($spotlight_default, ());
$plus_list: map-merge($plus_list_default, ());
$second_nav: map-merge($second_nav_default, ());
$drupal_tabs: map-merge($drupal_tabs_default, ());
$account: map-merge($account_default, ());
$ui_datepicker: map-merge($ui_datepicker_default, ());
