.page-bedrijvengids {
  .proximity_range {
    a {
      padding: 0 4px;
    }
  }

  .search-tabs {
    @include navigator;

    .proximity a {
      border-right: 1px solid $white;
    }
  }

  @include breakpoint(map-get($breakpoints, "mobile")) {
    .companyguide-search-name-form,
    .companyguide-search-proximity-form {
      .form-text {
        color: #C0C0C0;

        &.inputgiven {
          color: #636363;
        }
      }

      .form-item-name-who,
      .form-item-where {
        @include span(3 of map-get($susy, columns));
      }

      .form-item-name-what,
      .form-item-what {
        @include span(6 of map-get($susy, columns));
      }

      .form-item-name-where,
      .form-item-number {
        @include span(3 of map-get($susy, columns));
        @include last;
      }

      .form-submit {
        @include span(3 of map-get($susy, columns));
        @include last;
      }
    }

    #company-search-results {
      li {
        @include span(6 of map-get($susy, columns));
        clear: left;

        &:nth-child(2n) {
          @include last;
          clear: right;
        }
      }
    }
  }

  .search-results-map {
    margin: 0 0 10px;
  }

  #company-search-results {
    margin-top: 20px 0 0 0;
    padding: 0;
    @include clearfix;

    li {
      @include box-sizing(border-box);
      background-color: #F6F6F6;
      margin: 0 0 10px;
      padding: 5px;
      list-style-type: none;
    }
  }

  #companyguide {
    position: relative;
  }
}

#showcategories {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.vtab-container {
  @include clearfix;
}

.companyguide_vtab {
  display: none;
  margin: 0 0 20px;
  width: 100%;

  .main_links {
    @include box-sizing(border-box);
    text-align: left;
    display: block;
    padding: 0;
    position: relative;
    margin: 0 0 20px;

    > li {
      list-style-type: none;
      display: block;
      text-align: center;
      margin: auto;
      padding: 10px;
      position: relative;
      border-right: 0;
      cursor: pointer;
      @include opacity(.4);
      border: 1px solid transparent;

      &:hover,
      &:focus,
      &.selected {
        background-color: #FAFAFA;
        border-color: #DDD;
        color: #000;
        opacity: 1;
        @include opacity(1);
      }
    }

    @include breakpoint(map-get($breakpoints, "tablet")) {
      width: 30%;
      float: left;
      margin: 0;

      > li {
        &:hover,
        &:focus,
        &.selected {
          border-right: 0;
        }
      }
    }
  }

  #sub_links {
    background-color: #FAFAFA;
    border: 1px solid #DDD;
    padding: 12px;
    position: relative;
    @include border-radius(6px);
    @include box-sizing(border-box);

    h2 {
      margin: 10px 0 15px;
    }

    .item-list ul {
      margin: 10px 0;
    }

    li {
      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    @include breakpoint(map-get($breakpoints, "tablet")) {
      width: 70%;
      float: right;
      min-height: 500px;
    }
  }
}

.l-region--content-bottom {
  .block--block-122 {
    @include clearfix;
  }

  .block__title {
    display: block;
  }

  #subform {
    > div {
      margin: 0 !important; // overrule inline
    }

    input[type="submit"] {
      float: right;
    }
  }

  .block--menu-menu-bedrijvengids ul,
  .block--companyguide-mycompany ul {
    padding: 0;
    margin: 0 0 20px;
    @include clearfix;

    li {
      @include sidebar-item();
      @include inline-block;
      float: left;
      border-bottom: 0;
      background-color: map-get($colors, "first");
      margin: 0 10px 0 0;

      a {
        padding: 15px;
      }
    }
  }
}

#activity_basket {
  margin-bottom: 10px;
}

#company-node-form {
  #vkbo_info {
    .fiche-info-wrapper {
      margin-bottom: 15px;

      .fiche-label {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }

  .activity {
    margin-bottom: 10px;

    .fiche-label {
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
    }

    .fiche-new-info {
      display: inline-block;
      background-color: map-get($colors, "success");
      padding: 14px;
      border-radius: 3px;
      margin: 0 2px 2px 0;
      color: #FFF;
      font-weight: bold;
      cursor: pointer;

      &:after {
        font-weight: normal;
        @include fa-icon("\f067");
      }

      &[value] {
        padding: 14px 15px;
        background-color: map-get($colors, "info");

        &:after {
          display: inline-block;
          margin-left: 15px;
          @include fa-icon("\f040");
        }
      }
    }

    .fiche-new-info-delete {
      display: inline-block;
      background-color: map-get($colors, "danger");
      padding: 14px;
      border-radius: 3px;
      margin: 0 2px 2px 0;
      color: #FFF;
      font-weight: bold;
      cursor: pointer;

      &:after {
        font-weight: normal;
        @include fa-icon("\f014");
      }
    }
  }

  .custom-multiselect {
    list-style-type: none;
    padding: 0;
    margin-top: 10px !important;
    margin-bottom: 25px !important;

    span i {
      float: right;
      line-height: 25px;
      margin-right: 6px;
    }

    li {
      list-style-type: none;
      background-color: #FFF;
      padding: 5px;
      cursor: pointer;
      margin-bottom: 1px;

      &:hover {
        background-color: darken(#FFF, 5%) !important;
        border: 0 !important;
      }

      &.active {
        background-color: map-get($colors, "second");
        color: #FFF;

        &:hover {
          background-color: darken(map-get($colors, "second"), 5%) !important;
        }
      }
    }
  }

}
