.event {
  dt {
    font-family: font-family-stack($base_font_family, "regular", $base_font_stack);
  }

  dd {
    padding: 5px 0 10px 10px;
  }

  @include breakpoint(map-get($breakpoints, "mobile")) {
    .event-info,
    figure {
      @include span(6 of map-get($susy, "columns"));
    }

    .event-info {
      @include last;
    }
  }

  .event-info {
    margin: 0;
  }
}
