// ====================================================================================================== //
// TYPE - HOMEPAGE //
// ====================================================================================================== //

#banner {
  width: 100%;
  height: mg($layout, banner_height);
  background-color: mg($layout, banner_bgc);

  .info {
    @include typo($body_font_family, $font_size_small, $font_size_small, mg($info, color));
  }

  .dates .sep {
    @include font-size-line-height(mg($layout, banner_date_fsz), mg($layout, banner_date_fsz));
    color: mg($layout, banner_date_color);
  }

  .date {
    @include font-size-line-height(mg($layout, banner_date_fsz), mg($layout, banner_date_fsz));
    width: mg($layout, banner_date_width);
    color: mg($layout, banner_date_color);

    &.date-1 {
      margin: 0 8px 0 0;
    }

    &.date-2 {
      margin: 0 0 0 8px;
    }

    .month {
      small {
        @include typo($body_font_family, mg($layout, banner_date_fsz_small), mg($layout, banner_date_fsz_small), $white);
      }
    }

    .day {
      padding: 4px 0 0;
    }
  }

  .date-seperator {
    @include rect(11px, 35px);
    @include background(image-url("svg/arrow-right-icon.svg") no-repeat center center);
    margin: 0;

    .no-svg & {
      @include background(image-url("layout/arrow-right-icon.png") no-repeat center center);
    }
  }
}

// CTA's
#ctas {
  margin: 30px $mobile_margin 35px;

  .cta-stacked {
    margin: 0 0 2px;

    .cta {
      .field--lijstafbeelding {
        border-bottom: mg($cta, list_image_border);
        display: none;

        img {
          border-right: 0;
          display: block;
          vertical-align: bottom;
          max-width: 100%;
          min-width: 100%;
        }
      }
    }
  }

  .ctas-normal {
    .cta {
      margin: 0 0 2px;

      .field--lijstafbeelding {
        height: 100%;
        overflow: hidden;
        display: none;

        img,
        a {
          height: 100%;
          width: auto;
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  .justify-height {
    .cta {
      height: 100%;

      .caption {
        width: 100%;
        position: relative;
        display: block;

        a {
          @include box-sizing(border-box);
          display: block;
          padding: 15px 30px 15px 15px;
          width: 100%;
          position: absolute;
          left: 0;
          top: 50%;
        }
      }
    }
  }
}

// Articles
#articles {
  background-color: mg($layout, articles_bgc);
  @include padborder(25px 0, none);

  .field--news-item {
    @include span(3 of map-get($susy, columns));
    margin-bottom: 20px;

    &:nth-child(4n+4) {
      @include last;
    }
  }
}

.node-type-homepage {
  #agenda {
    margin: 0;
  }

  .separator {
    display: none;
  }

  .carrousel-full {
    margin: 0;
    background-color: map-get($colors, "first");

    a {
      color: map-get($colors, "second");
    }
  }

  .info {
    .field--open-hours-highl-ref {
      @include clearfix;
    }

    .title {
      @include span(6 of map-get($susy, columns));
    }

    .hours-info {
      @include span(6 of map-get($susy, columns));
      @include last;
      text-align: right;
    }
  }
}


@include breakpoint(map-get($breakpoints, "zero") map-get($breakpoints, "desktop")) {
  #ctas {
    .justify-height {
      .cta {
        .field--lijstafbeelding {
          display: block;
        }

        .caption {
          @include square(100%);

          a {
            @include square(100%);
            @include box-sizing(border-box);
            position: relative;
            top: 0;
          }
        }
      }
    }

    .ctas-normal {
      .cta {
        .field--lijstafbeelding {
          display: none;
        }

        .caption {
          @include square(100%);

          a {
            @include box-sizing(border-box);
            @include square(100%);
          }
        }
      }
    }
  }
}

@include breakpoint(map-get($breakpoints, "zero") map-get($breakpoints, "mobile")) {
  #ctas .cta-stacked .cta .field--lijstafbeelding img {
    height: auto !important;
  }

  #banner {
    height: auto;
  }

  #articles {
    .field--news-item {
      @include span(12 of map-get($susy, columns));
    }
  }
}

@include breakpoint(map-get($breakpoints, "mobile") map-get($breakpoints, "desktop")) {
  #ctas {
    .plus-list {
      @include span(4 of map-get($susy, columns));
    }

    .cta-stacked {
      @include span(4 of map-get($susy, columns));

      &.last {
        @include last;
      }
    }

    .ctas-normal {
      @include span(4 of map-get($susy, columns));
      @include last;
    }
  }

  #articles {
    .field--news-item {
      @include span(6 of map-get($susy, columns));

      // .field--lijstafbeelding {
      //   height: 225px;
      // }

      &:nth-child(2n) {
        @include last;
      }
    }
  }
}

@include breakpoint(map-get($breakpoints, "mobile")) {
  #ctas {
    &.only-stacked {
      .plus-list {
        @include span(4 of map-get($susy, columns));
      }

      .cta-stacked {
        @include span(4 of map-get($susy, columns));

        &:nth-child(2) {
          display: none;
        }

        &.last {
          @include last;
        }
      }
    }

    .ctas-normal {
      .cta {
        height: 140px;
      }
    }

    .justify-height {
      .cta {
        .caption {
          min-height: mg($layout, cta_caption_min_height);

          a {
            padding: 20px 30px 0 15px;
          }
        }

        .field--lijstafbeelding {
          display: block;
        }
      }
    }
  }

  #banner {
    >.container {
      @include centered($site_width);
      margin: 0 $mobile_margin;

      @include breakpoint(map-get($breakpoints, "desktop")) {
        margin: 0 auto;
      }
    }

    &.small {
      .accordeon {
        margin: 0;

        .accordeon-title {
          display: block;
        }
      }
    }

    &.sitewidth {
      .accordeon {
        margin: 0;

        .accordeon-title {
          display: block;
        }

        .field--opening-hours-higlighted {
          border: 0;
          margin: 0 0 mg($layout, accordeon_element_bottom_margin);
        }
      }

      .field--spotlight-background {
        display: block;
        height: 100%;
      }

      .banner-title {
        min-height: 0;
        padding: 35px 0 0;

        .field--spotlight-background {
          display: none;
          margin: 0;
        }

        .field--spotlight-item {
          margin: 0;
        }
      }
    }

    &.fullwidth {
      .accordeon {
        margin: 0;

        .accordeon-title {
          display: block;
        }

        .field--opening-hours-higlighted {
          border: 0;
          margin: 0 0 mg($layout, accordeon_element_bottom_margin);
        }
      }

      .field--spotlight-background {
        display: block;
        height: 100%;

        img {
          min-width: 100%;
          height: auto;
        }
      }

      .banner-title {
        min-height: 0;
        padding: 35px 0 0;

        .field--spotlight-background {
          display: none;
          margin: 0;
        }

        .field--spotlight-item {
          margin: 0;
        }
      }
    }
  }

  .accordeon {
    @include span(5 of map-get($susy, columns));
  }

  .banner-title {
    @include span(7 of map-get($susy, columns));
    @include last;
  }
}

@include breakpoint(map-get($breakpoints, "navwidth")) {
  .accordeon {
    @include span(4 of map-get($susy, columns));
  }

  .banner-title {
    @include span(8 of map-get($susy, columns));
    @include last;
  }
}

@include breakpoint(map-get($breakpoints, "desktop")) {
  #ctas {
    margin: 45px auto 35px;

    .cta-stacked {
      .cta {
        .field--lijstafbeelding {
          @include inline-block;
        }
      }
    }

    .justify-height .cta .caption a {
      padding: 0 30px 0 15px;
    }

    .ctas-normal {
      .cta {
        .field--lijstafbeelding {
          @include inline-block;
        }
      }
    }
  }
}

@include breakpoint(map-get($breakpoints, "tablet")) {
  .accordeon {
    @include span(3 of map-get($susy, columns));
  }

  .banner-title {
    @include span(9 of map-get($susy, columns));
    @include last;
  }

  #ctas {
    &.only-stacked {
      .plus-list {
        @include span(3 of map-get($susy, columns));
      }

      .cta-stacked {
        @include span(3 of map-get($susy, columns));

        &:nth-child(2) {
          display: block;
        }

        &.last {
          @include last;
        }
      }
    }

    .plus-list {
      @include span(3 of map-get($susy, columns));
    }

    .cta-stacked {
      @include span(3 of map-get($susy, columns));

      &.last {
        @include last;
      }
    }

    .ctas-normal {
      @include span(6 of map-get($susy, columns));
      @include last;
    }
  }
}

