// ====================================================================================================== //
// TYPE - LANDING - FEATURED //
// ====================================================================================================== //
#articles_teaser {
  .field--lp-spotlights-teaser-items {
    @include pie-clearfix;
    @include padborder;
  }
}

#articles_spotlight {
  .field--lp-spotlights-visual-items {
    @include padborder(25px 0, 1px solid $border_colors, false);

    .wrapper {
      @include pie-clearfix;
    }
  }
}

#agenda {
  margin-bottom: 25px;

  footer {
    margin-top: 25px;
  }
}

#opening_hours_higlighted {
  @include padborder(mg($layout, page_featured_opening_hours_higlighted_margin), mg($layout, page_featured_opening_hours_higlighted_border));
  background-color: mg($layout, page_featured_opening_hours_higlighted_bgc);

  .field--opening-hours-higlighted {
    border-bottom: 1px solid #736357;
    margin-bottom: 20px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  .field--open-hours-highl-title {
    @include typo(mg($layout, page_featured_field_open_hours_highl_title_ff), $font_size_h3, $font_size_h3, mg($layout, page_featured_field_open_hours_highl_title_color));
    margin: 0 0 10px;
  }

  .info {
    margin: 0;

    .field--open-hours-highl-ref {
      @include container;
      margin-bottom: 10px;

      .title {
        @include span(5 of map-get($susy, columns));
      }

      .hours-info {
        @include span(7 of map-get($susy, columns));
        @include last;
        text-align: right;
      }

      .openinghour {
        &.today {
          padding: 0;

          li {
            list-style-type: none;
          }
        }
      }
    }
  }
}

@include breakpoint(map-get($breakpoints, "tablet") map-get($breakpoints, "desktop")) {
  #articles_teaser {
    .field--lp-spotlights-teaser-items {
      .field--spotlight-teaser-item {
        @include span(6 of map-get($susy, columns));

        &:nth-child(2n) {
          @include last;
        }
      }
    }
  }

  #articles_spotlight {
    .field--lp-spotlights-visual {
      @include span(6 of map-get($susy, columns));

      &:nth-child(2n) {
        @include last;
      }
    }
  }
}

@include breakpoint(map-get($breakpoints, "desktop")) {
  #articles_teaser {
    .field--lp-spotlights-teaser-items {
      .field--spotlight-teaser-item {
        @include span(3 of map-get($susy, columns));

        &:nth-child(4n) {
          @include last;
        }
      }
    }
  }

  #articles_spotlight {
    .field--lp-spotlights-visual {
      @include span(3 of map-get($susy, columns));

      &:nth-child(4n) {
        @include last;
      }
    }
  }
}

@include breakpoint(map-get($breakpoints, "mobile")) {
  #opening_hours_higlighted {
    .field--opening-hours-higlighted {
      @include span(4 of map-get($susy, columns) .4);
      border-bottom: 0;
      margin-bottom: 0;

      &:nth-child(3n) {
        @include last;
      }
    }
  }
}
