.node--library-page {

  h2.field--titel,
  h3.field-label {
    text-transform: uppercase;
  }

  > .container,
  .libraries,
  .services,
  .spotlight {
    max-width: mg($breakpoints, "desktop");
    margin: 30px auto;

    @include breakpoint(mg($breakpoints, "desktop")) {
      margin: 45px auto;
    }
  }

  > .container {
    box-sizing: border-box;
    background-color: mg($layout, articles_bgc);
    @include padborder(25px 20px, none);

    @include breakpoint(mg($breakpoints, "desktop")) {
      @include flex();
    }

    .left {
      position: absolute;
      top: 25px;
      right: 20px;

      @include breakpoint(mg($breakpoints, "desktop")) {
        position: relative;
        top: initial;
        right: initial;
        width: 23%;
      }

      .field--extend-url a {
        position: relative;
        padding: 0 0 0 28px;
        @include typo(font-family-stack($base_font_family, "black", $base_font_stack), 14, 22, mg($colors, "first"));
        text-decoration: none;
        text-transform: uppercase;

        @include breakpoint(mg($breakpoints, "mobile")) {
          @include font-size-line-height($font_size_h2, 30);
          padding: 0 0 0 40px;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          @include background(image-url("misc/clock.png") no-repeat left top);
          background-size: contain;

          @include breakpoint(mg($breakpoints, "mobile")) {
            top: -2px;
            width: 30px;
            height: 30px;
          }
        }

        &::after {
          content: "";
          display: none;
        }
      }
    }

    .right {
      @include breakpoint(mg($breakpoints, "desktop")) {
        box-sizing: border-box;
        width: 77%;
        padding: 0 0 0 20px;
        border-left: 1px solid mg($colors, "first");
      }

      form {
        position: relative;
        overflow: auto;
      }

      .form-item-category {
        position: relative;
        float: left;
        max-width: 50%;
        margin: 0 0 65px;
        padding: 0 0 0 36px;

        @include breakpoint(mg($breakpoints, "mobile")) {
          padding: 0 0 0 50px;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 26px;
          height: 20px;
          @include background(image-url("misc/book.png") no-repeat left top);
          background-size: contain;

          @include breakpoint(mg($breakpoints, "mobile")) {
            width: 39px;
            height: 30px;
          }
        }

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          content: "\f0d7";
          font-family: "FontAwesome";
          color: mg($colors, "first");
          pointer-events: none;

          @include breakpoint(mg($breakpoints, "mobile")) {
            top: 5px;
          }
        }

        select {
          background: none;
          border: 0;
          height: 22px;
          margin: 0;
          padding: 0 12px 0 0;

          @include typo(font-family-stack($base_font_family, "black", $base_font_stack), 14, 22, mg($colors, "first"));
          text-transform: uppercase;

          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: "";

          @include breakpoint(mg($breakpoints, "mobile")) {
            height: 30px;
            padding: 0 20px 0 0;
            @include font-size-line-height($font_size_h2, 30);
          }

          &::-ms-expand {
            display: none;
          }
        }
      }

      .form-item-query {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 65%;
        margin: 0;

        input {
          height: 40px;
          border: 0;
          margin: 0;
        }
      }

      .form-submit {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35%;
        height: 40px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .libraries {
    h1 {
      margin: 0;
      padding: 1rem 20px;
      background-color: mg($colors, "second");
      @include typo(font-family-stack($base_font_family, "black", $base_font_stack), $font_size_h3, $font_size_h3, $white);
      text-transform: uppercase;
    }

    .drk-location-viewer {
      overflow: auto;
      background-color: mg($layout, "articles_bgc");
      @include padborder(25px 20px, none);

      .open-location-list {
        @include typo(font-family-stack($base_font_family, "black", $base_font_stack), $font_size_h2, 30, mg($colors, "first"));
        position: relative;
        padding: 0 20px 0 0;
        display: block;
        text-decoration: none;
        text-transform: uppercase;

        @include breakpoint(mg($breakpoints, "desktop")) {
          display: none;
        }

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          content: "\f0d7";
          font-family: "FontAwesome";
          color: mg($colors, "first");
        }

        &.open::after {
          transform: rotate(180deg);
        }
      }

      .location-list {
        &.mobile {
          display: none;

          &.open {
            display: block;
          }

          @include breakpoint(mg($breakpoints, "desktop")) {
            &,
            &.open {
              display: none;
            }
          }
        }

        &.desktop {
          display: none;

          @include breakpoint(mg($breakpoints, "desktop")) {
            display: block;
            @include span(4 of mg($susy, columns));
          }
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            a {
              @include typo(font-family-stack($base_font_family, "regular", $base_font_stack), $font_size_base, $base-line-height, mg($colors, "third"));
              display: block;
              text-decoration: none;

              &:hover,
              &.active {
                @include typo(font-family-stack($base_font_family, "regular", $base_font_stack), $font_size_base, $base-line-height, mg($colors, "first"));
              }
            }
          }
        }
      }

      .location-detail {
        margin: 20px 0 0;

        @include breakpoint(mg($breakpoints, "desktop")) {
          margin: 0;
          @include span(4 of mg($susy, columns));
        }

        h2 {
          @include typo(font-family-stack($base_font_family, "regular", $base_font_stack), $font_size_base, $base-line-height, mg($colors, "third"));
          text-transform: uppercase;
          margin: 0 0 $base-font-size;
        }

        #drk-location-viewer-address {
          margin: 0 0 20px;

          @include breakpoint(mg($breakpoints, "desktop")) {
            @include span(6 of mg($susy, columns));
          }
        }

        #drk-location-viewer-opening-hours {
          margin: 0 0 20px;

          @include breakpoint(mg($breakpoints, "desktop")) {
            @include span(6 of mg($susy, columns));
            @include last;
          }

          span {
            float: left;
          }

          ul,
          li {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }

          ul > li > ul {
            margin: 0 0 0 50px;
          }
        }

        #drk-location-viewer-more-link {
          clear: both;

          a {
            position: relative;
            display: block;
            padding: 5px 10px;
            border: 1px solid mg($colors, "third");
            @include typo(font-family-stack($base_font_family, "regular", $base_font_stack), $font_size_base, $base-line-height, mg($colors, "third"));
            text-decoration: none;

            &:hover {
              border: 1px solid mg($colors, "first");
              @include typo(font-family-stack($base_font_family, "regular", $base_font_stack), $font_size_base, $base-line-height, mg($colors, "first"));
            }

            &::after {
              position: absolute;
              right: 10px;
              content: ">";
            }
          }
        }
      }

      #drk-location-viewer-map {
        display: none;
        width: 300px;
        max-width: 100%;
        height: 270px;

        @include breakpoint(mg($breakpoints, "desktop")) {
          display: block;
          @include span(4 of mg($susy, columns));
          @include last;
        }
      }
    }
  }

  .services {
    overflow: auto;

    .field--services {
      margin: 0 0 10px;

      @include breakpoint(mg($breakpoints, "mobile") mg($breakpoints, "desktop")) {
        @include span(6 of mg($susy, columns));

        &:nth-child(2n) {
          @include last;
        }
      }

      @include breakpoint(mg($breakpoints, "desktop")) {
        @include span(3 of mg($susy, columns));

        &:nth-child(4n) {
          @include last;
        }
      }
    }
  }

  .spotlight {
    overflow: auto;

    .p15 {
      padding: 0;
    }
  }

  .field--lp-spotlights-teaser-items {
    max-width: mg($breakpoints, "desktop");
    margin: 0 auto;
  }

}

.culturefeed {
  h3 {
    @include center;
    margin-bottom: $font_size_h3 + px;
    text-transform: uppercase;

    @include breakpoint(mg($breakpoints, "desktop")) {
      margin-bottom: $font_size_h3 + px;
    }
  }
}
