.node-type-nieuws {
  #page-title {
    margin: 0 0 3px;
  }
}

.node--nieuws--full {
  @include padborder(0 0 25px 0, 1px solid $black);

  .news-spec {
    background-color: map-get($colors, "first");
    padding: 0;
    margin: 0 0 20px;

    li {
      @include typo($body_font_family, $font_size_base, $font_size_base, $white);
      list-style-type: none;
      float: left;
      padding: 15px;
      border-left: 1px solid $white;

      &:first-child {
        border-left: 0;
      }
    }
  }

  .field--adres {
    clear: both;
  }

  .create-date {
    font-size: 80%;
  }

  .contact-service {
    clear: both;
    margin-top: 10px;
  }

  ~ .l-region--content-bottom {
    @include padborder;
  }

  @include breakpoint(map-get($breakpoints, "mobile")) {
    .contact,
    .map-info {
      margin-bottom: 0;
      @include span(6 of map-get($susy, columns));
    }

    .map-info {
      @include last;
    }
  }

  @include breakpoint(map-get($breakpoints, "desktop")) {
    .contact,
    .map-info {
      @include span(6 of map-get($susy, columns));
    }

    .map-info {
      margin-right: 0;
    }
  }
}
