.page-search {
  .search-form {
    @include clearfix;

    .ui-autocomplete-input {
      background: none;
    }

    .form-submit {
      float: right;
    }
  }

  .google-search-results {
    @include clearfix;

    .gss-result {
      background-color: #F6F6F6;
      margin: 0 0 20px;
      padding: 10px;
      position: relative;
      @include clearfix;

      .content {
        @include span(10 of 12);
      }

      .thumb {
        @include span(2 of 12);
        @include last;
      }

      .gss-title {
        padding: 0 100px 0 0;
      }

      .gss-thumbnail-image {
        float: right;
      }

      .gss-search-url {
        display: none;
      }

      @include breakpoint(map-get($breakpoints, "mobile")) {
        .gss-search-url {
          display: block;
        }
      }
    }
  }

  .google-search-pager {
    margin-bottom: 20px;
  }
}

.site-map-box {
  .title {
    display: none;
  }
}
