// ====================================================================================================== //
// TYPE - SERVICE
// ====================================================================================================== //
#services-highlighted {
  @include padborder;

  @include breakpoint(map-get($breakpoints, "mobile")) {
    .service-item-big {
      @include span(6 of map-get($susy, columns));

      &:nth-child(2n) {
        @include last;
      }
    }

    .service-item-small {
      @include span(3 of map-get($susy, columns));

      &:nth-child(4n) {
        @include last;
      }
    }
  }
}


#services-spotlights {
  @include padborder(25px 0, none);
}

.carrousel-full {
  background-color: map-get($colors, "second");
}

.node--service--full {
  @include breakpoint(map-get($breakpoints, "mobile")) {
    .contact,
    .map-info {
      margin-bottom: 0;
      @include span(6 of map-get($susy, columns));
    }

    .map-info {
      @include last;
    }
  }

  @include breakpoint(map-get($breakpoints, "desktop")) {
    .contact,
    .map-info {
      @include span(6 of map-get($susy, columns));
    }

    .map-info {
      margin-right: 0;
    }
  }
}
