#header {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}




/*------- Algemene CSS --------*/

h1, h2, h3, h4, h5, h6,  span{
	color: #242A34;
	font-family: "Helvetica Neue LT Std", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

p{
	font-family: Arial, sans-serif;
}


a{
	transition: color 0.3s ease-in-out;
	color: #07D9D5;
}

a:hover{
	color: #8f8f8f;
}

/*button*/
.button{
	color: white;
	background-color: #07D9D5;
	font-weight: 600;
	text-transform: uppercase;
}

.button:hover{
	background-color: #05b7b3;

}

/*Andere buttons (home)*/
.button2 a{
	color: white;

}



/*tabellen*/
table thead{
	background-color: #242A34;
}

table thead th{
	color: white;
}

tbody a{
	color: #242A34;
}


.item-list li{
	list-style: none;
}


/*Administrator tabs*/
.tabs.primary{
	padding: 5px;
	background-color: #242A34;
	border-bottom: 10px solid #07D9D5;
	margin-left: -20px;
	margin-bottom: 30px;
}

.tabs.primary li a{
	transition: color 0.3s ease-in-out;
	color: white;
	background-color: #242A34;
	border: none;
	padding: 5px;

}

.tabs.primary li a:hover{
	color: #07D9D5;
	background-color: #242A34;
}

ul.primary li.active a {
	color: #07D9D5;
	background-color: #242A34;
	border:none;
}

.tabs{
	border: none
}

/*----- sidebar ------ */
.medium-3 .columns .sticky-container{
	background-color: #e1e1e1;
}

.is-at-top{
	color: white;
}

.is-at-top ul {
	margin-left: -15px;

}




/*----- top - logo / menu ------ */
.top-bar{
	background-color: #242A34;
	border-bottom: 10px solid #FF2D62;
	margin-bottom: 80px;
}

.top-bar, .top-bar-left, .top-bar-right a {
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	transition: color 0.2s ease-in-out;
}

.top-bar-right a:hover {
	color: #8f8f8f;
	font-weight: 600;
	text-transform: uppercase;
}





/* ----- Footer ----- */

.medium-6{
	margin-top:250px;
	border-top: 10px solid #07D9D5 ;
	background-color: #242A34;
}

/*footer links + hover*/
.medium-6 a{
	color: white;
}
.medium-6 a:hover{
	color: #8f8f8f;
}

.menu-text{
	color: white;
}


/*------- HOME PAGE -------*/
.actions{
	list-style: none;
}

.actions li{
	margin-left: -20px;
}


/*------- GROEPEN --------*/


/*------- SERVICE  --------*/
/*Wanneer je een want wilt toevoegen*/

table thead .field-label{
	background-color: #8f8f8f;
}

/*------RUILHANDEL-----*/
/*Certificaat fixes*/

div.transaction.certificate span.quantity{
	margin-top: -1000px;
	color: #242A34;
	font-size: 2em;
	line-height: 0.1em;

}

div.transaction.certificate {
	padding: 1px;
	line-height: 1em;
	text-align: left;
}

#pending-signatures{
	float: none;
}

