#companyguide_facets {
  display: none;
}

/* user.css sets visibility:hidden on div.password-confirm ? */
#vtab div.password-confirm {
  visibility: visible;
  float: none;
  overflow: hidden;
  width: auto;
}

/*** vtabs loket ***/
span.updated {
  position: absolute;
  right: 35px;
  font-size: 11px;
}

#vtab {
  margin: 45px auto 0 auto;
  width: 100%;
  height: 100%;
  max-width: 940px;
}

#node-form #vtab {
  margin-top: 25px;
}

#vtab li.vtab {
  width: 150px;
  height: 30px;
  background-color: #FFF !important;
  color: #000;
  list-style-type: none;
  display: block;
  text-align: center;
  margin: auto;
  padding: 10px 0 0 0;
  border: 1px dotted #DDD;
  position: relative;
  border-right: none;
  opacity: .3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  cursor: pointer;
}

#vtab li.vtab:hover,
#vtab li.vtab:focus {
  background: #FAFAFA !important;
  border: 1px solid #DDD;
  border-right: none;
  color: #000;
  opacity: 1;
}

#vtab li.selected {
  opacity: 1;
  color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  border: 1px solid #DDD;
  border-right: none;
  z-index: 10;
  background-color: #FAFAFA !important;
  position: relative;
}

#vtab li.home {
  background: url('home.png') no-repeat center center;
}

#vtab li.login {
  background: url('login.png') no-repeat center center;
}

#vtab li.support {
  background: url('support.png') no-repeat center center;
}

#vtab li#opslaan {
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

#vtab li.selected,
#vtab li:hover,
#vtab #opslaan.selected,
#vtab #opslaan:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  border: 1px solid #DDD;
  border-right: none;
  z-index: 10;
  background-color: #FAFAFA !important;
  position: relative;
}

#vtab #vtab-nav {
  float: left;
  width: 150px;
  text-align: left;
  display: block;
  margin: auto 0;
  padding: 0;
  position: relative;
  top: 30px;
}

#vtab .vtab-container {
  background-color: #FAFAFA;
  margin-left: 150px;
  border: 1px solid #DDD;
  min-height: 500px;
  padding: 12px;
  position: relative;
  z-index: 9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 650px;
}

#vtab .vtab-container h4 {
  color: #A6A7A2;
  font-size: 1.2em;
  border-bottom: 1px dotted #A6A7A2;
  padding-top: 5px;
  margin-top: 0;
}

#vtab-nav {
  display: block;
  width: 300px;
  float: left;
}

.search-results-map {
  position: relative;
  width: 100% !important;
}

.search-results-map > div {
  width: 100% !important;
}

/* openinghours */
.openingsuren .description {
  float: left;
  font-size: 85%;
}

#opening-hours {
  width: 100%;
  border: 1px dotted #999;
}

#opening-hours tr.odd {
  background: #E8E8E8;
}

#opening-hours td {
  vertical-align: top;
  width: 25%;
  padding: 10px;
}

#opening-hours .opening-select-with-hours > div {
  display: none;
}

#opening-hours .opening-select-with-hours.open > div {
  display: block;
}

#opening-hours .opening-select-with-hours .form-item {
  display: inline-block;
}

#opening-hours .opening-select-with-hours .title {
  display: block;
  font-weight: bold;
}

#opening-hours .formrow .inputElement .inputControl,
#category-selection .formrow .inputElement .inputControl {
  margin: 0;
}

.freetext .formrow .inputElement .inputControl div.controlHint {
  display: block;
}

/* hide extra labels */
div.holiday div.fiche-label,
div.freetext div.fiche-label,
div.schematic div.fiche-label,
div.openingsuren div.fiche-label,
div.bijberoep div.checkbox-label,
div.field_company_not_active div.fiche-label,
#field-company-not-active-text-add-more-wrapper label,
#field-company-activity-text-add-more-wrapper label {
  display: none;
}

div.field_company_no_information div.caption,
div.field_company_owner_gender div.caption {
  display: none;
}

.field_company_owner_gender .radios .control:first-child {
  display: none;
}

#edit-hours-free-text-format {
  display: none;
}
