.node--gemeentelijk-adres--full .field--lijstafbeelding img {
  width: 100%;
}
.node--gemeentelijk-adres--full .contact {
  margin-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1empx;
  font-size: 0.0625emrem;
  line-height: 1empx;
  line-height: 0.0625emrem;
  font-family: "prox-thin", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
}
.node--gemeentelijk-adres--full .contact p,
.node--gemeentelijk-adres--full .contact pre,
.node--gemeentelijk-adres--full .contact h2,
.node--gemeentelijk-adres--full .contact h3,
.node--gemeentelijk-adres--full .contact h4 {
  color: white;
}
.node--gemeentelijk-adres--full .contact .field-label,
.node--gemeentelijk-adres--full .contact .wrapper-field-e-mailadres,
.node--gemeentelijk-adres--full .contact .field--extra-informatie {
  clear: both;
}
.node--gemeentelijk-adres--full .contact .contact-wrapper {
  padding: 25px;
}
.node--gemeentelijk-adres--full .contact .contact-wrapper .global-info .field-label {
  margin-left: 0 !important;
}
.node--gemeentelijk-adres--full .contact .contact-wrapper .field-name-field-address_street,
.node--gemeentelijk-adres--full .contact .contact-wrapper .field-name-field-address_zip,
.node--gemeentelijk-adres--full .contact .contact-wrapper .field-name-field-address_city {
  font-size: 20px;
}
.node--gemeentelijk-adres--full .map-info {
  width: 100%;
}
@media (min-width: 480px) {
  .node--gemeentelijk-adres--full .contact,
  .node--gemeentelijk-adres--full .map-info {
    margin-bottom: 0;
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--gemeentelijk-adres--full .map-info {
    float: right;
    margin-right: 0;
  }
}

.page-adressen #mid > section {
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 480px) {
  .page-adressen .views-row {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  .page-adressen .views-row:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
.page-adressen .views-row {
  background-color: #F6F6F6;
  margin-bottom: 20px;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-adressen .views-row .views-field-title {
  margin: 10px 0 15px;
}
.page-adressen .views-row .views-field-field-e-mailadres {
  margin-bottom: 20px;
}
.page-adressen .views-row .views-field-field-e-mailadres a {
  word-break: break-all;
  padding: 0 5px 0 20px;
}
.page-adressen .views-row .views-field-field-e-mailadres a:before {
  position: absolute;
  left: 3px;
}
.page-adressen .views-row .views-field-field-telefoon {
  margin: 5px 0;
}
.page-adressen .views-row .views-field-field-telefoon span {
  float: left;
  margin: 0 5px 0 0;
}
.page-adressen .views-row .views-field-field-lijstafbeelding img {
  width: 100%;
}
.page-adressen [class$="navigator"] .menu {
  background-color: #991c22;
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
  *zoom: 1;
}
.page-adressen [class$="navigator"] .menu li {
  list-style-type: none;
  float: left;
}
.page-adressen [class$="navigator"] .menu li.active-tab {
  background-color: #736357;
}
.page-adressen [class$="navigator"] .menu li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  font-family: "prox-thin", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
  padding: 15px;
  border-left: 1px solid white;
}
.page-adressen [class$="navigator"] .menu li a:hover {
  text-decoration: none;
}
.page-adressen [class$="navigator"] .menu li:first-child a {
  border-left: 0;
}
.page-adressen [class$="navigator"] .menu a[href="/adressen"]:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  content: "\f15d";
  margin: 0 10px 0 0;
  font-family: "FontAwesome";
}
.page-adressen [class$="navigator"] .menu a[href$="kaart"]:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  content: "\f041";
  margin: 0 10px 0 0;
  font-family: "FontAwesome";
}

.page-agenda .event-teaser {
  background-color: #F6F6F6;
  margin: 0 0 20px;
  padding: 15px;
  overflow: hidden;
  *zoom: 1;
}
.page-agenda .event-teaser .content {
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
}
.page-agenda .event-teaser .content .field--datum,
.page-agenda .event-teaser .content .views-field-title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
.page-agenda .event-teaser .content .field--datum ~ .views-field-title {
  padding: 17px 0 0 5px;
}
.page-agenda .event-teaser dd {
  margin: 0 0 0 75px;
}
.page-agenda .event-teaser dt {
  font-weight: bold;
  float: left;
  clear: both;
}
.page-agenda .event-teaser .thumb {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
  float: right;
  margin-right: 0;
}
.page-agenda .event-teaser .thumb .field-content {
  float: right;
}

.node--fotoalbum--full {
  padding: 0 0 25px;
}

.page-bedrijvengids .proximity_range a {
  padding: 0 4px;
}
.page-bedrijvengids .search-tabs {
  background-color: #991c22;
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
  *zoom: 1;
}
.page-bedrijvengids .search-tabs li {
  list-style-type: none;
  float: left;
}
.page-bedrijvengids .search-tabs li.active-tab {
  background-color: #736357;
}
.page-bedrijvengids .search-tabs li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  font-family: "prox-thin", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
  padding: 15px;
  border-left: 1px solid white;
}
.page-bedrijvengids .search-tabs li a:hover {
  text-decoration: none;
}
.page-bedrijvengids .search-tabs li:first-child a {
  border-left: 0;
}
.page-bedrijvengids .search-tabs .proximity a {
  border-right: 1px solid white;
}
@media (min-width: 480px) {
  .page-bedrijvengids .companyguide-search-name-form .form-text,
  .page-bedrijvengids .companyguide-search-proximity-form .form-text {
    color: #C0C0C0;
  }
  .page-bedrijvengids .companyguide-search-name-form .form-text.inputgiven,
  .page-bedrijvengids .companyguide-search-proximity-form .form-text.inputgiven {
    color: #636363;
  }
  .page-bedrijvengids .companyguide-search-name-form .form-item-name-who,
  .page-bedrijvengids .companyguide-search-name-form .form-item-where,
  .page-bedrijvengids .companyguide-search-proximity-form .form-item-name-who,
  .page-bedrijvengids .companyguide-search-proximity-form .form-item-where {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  .page-bedrijvengids .companyguide-search-name-form .form-item-name-what,
  .page-bedrijvengids .companyguide-search-name-form .form-item-what,
  .page-bedrijvengids .companyguide-search-proximity-form .form-item-name-what,
  .page-bedrijvengids .companyguide-search-proximity-form .form-item-what {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .page-bedrijvengids .companyguide-search-name-form .form-item-name-where,
  .page-bedrijvengids .companyguide-search-name-form .form-item-number,
  .page-bedrijvengids .companyguide-search-proximity-form .form-item-name-where,
  .page-bedrijvengids .companyguide-search-proximity-form .form-item-number {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
    float: right;
    margin-right: 0;
  }
  .page-bedrijvengids .companyguide-search-name-form .form-submit,
  .page-bedrijvengids .companyguide-search-proximity-form .form-submit {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
    float: right;
    margin-right: 0;
  }
  .page-bedrijvengids #company-search-results li {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    clear: left;
  }
  .page-bedrijvengids #company-search-results li:nth-child(2n) {
    float: right;
    margin-right: 0;
    clear: right;
  }
}
.page-bedrijvengids .search-results-map {
  margin: 0 0 10px;
}
.page-bedrijvengids #company-search-results {
  margin-top: 20px 0 0 0;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}
.page-bedrijvengids #company-search-results li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F6F6F6;
  margin: 0 0 10px;
  padding: 5px;
  list-style-type: none;
}
.page-bedrijvengids #companyguide {
  position: relative;
}

#showcategories {
  cursor: pointer;
}
#showcategories:hover {
  text-decoration: underline;
}

.vtab-container {
  overflow: hidden;
  *zoom: 1;
}

.companyguide_vtab {
  display: none;
  margin: 0 0 20px;
  width: 100%;
}
.companyguide_vtab .main_links {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  display: block;
  padding: 0;
  position: relative;
  margin: 0 0 20px;
}
.companyguide_vtab .main_links > li {
  list-style-type: none;
  display: block;
  text-align: center;
  margin: auto;
  padding: 10px;
  position: relative;
  border-right: 0;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  border: 1px solid transparent;
}
.companyguide_vtab .main_links > li:hover, .companyguide_vtab .main_links > li:focus, .companyguide_vtab .main_links > li.selected {
  background-color: #FAFAFA;
  border-color: #DDD;
  color: #000;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media (min-width: 768px) {
  .companyguide_vtab .main_links {
    width: 30%;
    float: left;
    margin: 0;
  }
  .companyguide_vtab .main_links > li:hover, .companyguide_vtab .main_links > li:focus, .companyguide_vtab .main_links > li.selected {
    border-right: 0;
  }
}
.companyguide_vtab #sub_links {
  background-color: #FAFAFA;
  border: 1px solid #DDD;
  padding: 12px;
  position: relative;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.companyguide_vtab #sub_links h2 {
  margin: 10px 0 15px;
}
.companyguide_vtab #sub_links .item-list ul {
  margin: 10px 0;
}
.companyguide_vtab #sub_links li a {
  text-decoration: none;
}
.companyguide_vtab #sub_links li a:hover, .companyguide_vtab #sub_links li a:focus {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .companyguide_vtab #sub_links {
    width: 70%;
    float: right;
    min-height: 500px;
  }
}

.l-region--content-bottom .block--block-122 {
  overflow: hidden;
  *zoom: 1;
}
.l-region--content-bottom .block__title {
  display: block;
}
.l-region--content-bottom #subform > div {
  margin: 0 !important;
}
.l-region--content-bottom #subform input[type="submit"] {
  float: right;
}
.l-region--content-bottom .block--menu-menu-bedrijvengids ul,
.l-region--content-bottom .block--companyguide-mycompany ul {
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
  *zoom: 1;
}
.l-region--content-bottom .block--menu-menu-bedrijvengids ul li,
.l-region--content-bottom .block--companyguide-mycompany ul li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  font-family: "prox-regular", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
  list-style-type: none;
  border-bottom: 1px solid white;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  border-bottom: 0;
  background-color: #991c22;
  margin: 0 10px 0 0;
}
.l-region--content-bottom .block--menu-menu-bedrijvengids ul li a,
.l-region--content-bottom .block--companyguide-mycompany ul li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 15px 5px 15px 15px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  font-family: "prox-thin", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
}
.l-region--content-bottom .block--menu-menu-bedrijvengids ul li a:hover,
.l-region--content-bottom .block--companyguide-mycompany ul li a:hover {
  text-decoration: none;
}
.l-region--content-bottom .block--menu-menu-bedrijvengids ul li a,
.l-region--content-bottom .block--companyguide-mycompany ul li a {
  padding: 15px;
}

#activity_basket {
  margin-bottom: 10px;
}

#company-node-form #vkbo_info .fiche-info-wrapper {
  margin-bottom: 15px;
}
#company-node-form #vkbo_info .fiche-info-wrapper .fiche-label {
  font-weight: bold;
  margin-bottom: 5px;
}
#company-node-form .activity {
  margin-bottom: 10px;
}
#company-node-form .activity .fiche-label {
  margin-bottom: 5px;
}
#company-node-form .activity a {
  text-decoration: none;
}
#company-node-form .activity .fiche-new-info {
  display: inline-block;
  background-color: #5cb85c;
  padding: 14px;
  border-radius: 3px;
  margin: 0 2px 2px 0;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
#company-node-form .activity .fiche-new-info:after {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: inherit;
  content: "\f067";
  line-height: inherit;
  speak: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
}
#company-node-form .activity .fiche-new-info[value] {
  padding: 14px 15px;
  background-color: #5bc0de;
}
#company-node-form .activity .fiche-new-info[value]:after {
  display: inline-block;
  margin-left: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: inherit;
  content: "\f040";
  line-height: inherit;
  speak: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
}
#company-node-form .activity .fiche-new-info-delete {
  display: inline-block;
  background-color: #d9534f;
  padding: 14px;
  border-radius: 3px;
  margin: 0 2px 2px 0;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
#company-node-form .activity .fiche-new-info-delete:after {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: inherit;
  content: "\f014";
  line-height: inherit;
  speak: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
}
#company-node-form .custom-multiselect {
  list-style-type: none;
  padding: 0;
  margin-top: 10px !important;
  margin-bottom: 25px !important;
}
#company-node-form .custom-multiselect span i {
  float: right;
  line-height: 25px;
  margin-right: 6px;
}
#company-node-form .custom-multiselect li {
  list-style-type: none;
  background-color: #FFF;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 1px;
}
#company-node-form .custom-multiselect li:hover {
  background-color: #f2f2f2 !important;
  border: 0 !important;
}
#company-node-form .custom-multiselect li.active {
  background-color: #736357;
  color: #FFF;
}
#company-node-form .custom-multiselect li.active:hover {
  background-color: #64574c !important;
}

@media (min-width: 0) and (max-width: 768px) {
  .node-type-company .w6 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.node-type-company h3 {
  margin: 16px 0 0;
}
.node-type-company #page-title {
  margin: 0;
}
.node-type-company .company-map,
.node-type-company .company-map > div {
  width: 100% !important;
  height: 300px !important;
}
.node-type-company .company-map {
  margin: 20px 0;
}
.node-type-company .company-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  background-color: #F6F6F6;
  margin: 0 0 10px;
}
.node-type-company .adress {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  line-height: 0.875rem;
  font-family: "prox-bold", Helvetica, Arial, Sans-Serif;
  color: #991c22;
  font-weight: normal;
  font-style: normal;
}
.node-type-company .activities .m5 {
  margin: 0;
  line-height: 1.2rem;
}
.node-type-company .activities .m5:first-child {
  margin: 0;
  line-height: 1.2rem;
}
.node-type-company .company-logo .vcard {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url('../img/layout/vcard.png') no-repeat center bottom;
  width: 45px;
  height: 32px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  float: right;
}
.node-type-company #company-hours > div {
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
}
.node-type-company #company-hours > div:last-child {
  border-bottom: 0;
}
.node-type-company #company-hours .day-label {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  color: #991c22;
}
.node-type-company #company-hours .day-info {
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
}
.node-type-company .l-region--content-bottom .block {
  margin-top: 1em;
}
.node-type-company #block-menu-menu-bedrijvengids h2 {
  display: none;
}

.event dt {
  font-family: "prox-regular", Helvetica, Arial, Sans-Serif;
}
.event dd {
  padding: 5px 0 10px 10px;
}
@media (min-width: 480px) {
  .event .event-info,
  .event figure {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .event .event-info {
    float: right;
    margin-right: 0;
  }
}
.event .event-info {
  margin: 0;
}

#banner {
  width: 100%;
  height: 310px;
  background-color: white;
}
#banner .info {
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  font-family: "prox-thin", Helvetica, Arial, Sans-Serif;
  color: #736357;
  font-weight: normal;
  font-style: normal;
}
#banner .dates .sep {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem;
  color: white;
}
#banner .date {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem;
  width: 60px;
  color: white;
}
#banner .date.date-1 {
  margin: 0 8px 0 0;
}
#banner .date.date-2 {
  margin: 0 0 0 8px;
}
#banner .date .month small {
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  font-family: "prox-thin", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
}
#banner .date .day {
  padding: 4px 0 0;
}
#banner .date-seperator {
  width: 11px;
  height: 35px;
  background: url('../img/svg/arrow-right-icon.svg') no-repeat center center;
  margin: 0;
}
.no-svg #banner .date-seperator {
  background: url('../img/layout/arrow-right-icon.png') no-repeat center center;
}

#ctas {
  margin: 30px 15px 35px;
}
#ctas .cta-stacked {
  margin: 0 0 2px;
}
#ctas .cta-stacked .cta .field--lijstafbeelding {
  border-bottom: 0;
  display: none;
}
#ctas .cta-stacked .cta .field--lijstafbeelding img {
  border-right: 0;
  display: block;
  vertical-align: bottom;
  max-width: 100%;
  min-width: 100%;
}
#ctas .ctas-normal .cta {
  margin: 0 0 2px;
}
#ctas .ctas-normal .cta .field--lijstafbeelding {
  height: 100%;
  overflow: hidden;
  display: none;
}
#ctas .ctas-normal .cta .field--lijstafbeelding img,
#ctas .ctas-normal .cta .field--lijstafbeelding a {
  height: 100%;
  width: auto;
}
#ctas .ctas-normal .cta:last-child {
  margin: 0;
}
#ctas .justify-height .cta {
  height: 100%;
}
#ctas .justify-height .cta .caption {
  width: 100%;
  position: relative;
  display: block;
}
#ctas .justify-height .cta .caption a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 15px 30px 15px 15px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
}

#articles {
  background-color: transparent;
  padding: 25px 0;
  border-bottom: none;
}
#articles:last-child {
  border-bottom: 0 !important;
}
#articles .field--news-item {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  margin-bottom: 20px;
}
#articles .field--news-item:nth-child(4n+4) {
  float: right;
  margin-right: 0;
}

.node-type-homepage #agenda {
  margin: 0;
}
.node-type-homepage .separator {
  display: none;
}
.node-type-homepage .carrousel-full {
  margin: 0;
  background-color: #991c22;
}
.node-type-homepage .carrousel-full a {
  color: #736357;
}
.node-type-homepage .info .field--open-hours-highl-ref {
  overflow: hidden;
  *zoom: 1;
}
.node-type-homepage .info .title {
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
}
.node-type-homepage .info .hours-info {
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
  float: right;
  margin-right: 0;
  text-align: right;
}

@media (min-width: 0) and (max-width: 940px) {
  #ctas .justify-height .cta .field--lijstafbeelding {
    display: block;
  }
  #ctas .justify-height .cta .caption {
    width: 100%;
    height: 100%;
  }
  #ctas .justify-height .cta .caption a {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top: 0;
  }
  #ctas .ctas-normal .cta .field--lijstafbeelding {
    display: none;
  }
  #ctas .ctas-normal .cta .caption {
    width: 100%;
    height: 100%;
  }
  #ctas .ctas-normal .cta .caption a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  #ctas .cta-stacked .cta .field--lijstafbeelding img {
    height: auto !important;
  }

  #banner {
    height: auto;
  }

  #articles .field--news-item {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 940px) {
  #ctas .plus-list {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  #ctas .cta-stacked {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  #ctas .cta-stacked.last {
    float: right;
    margin-right: 0;
  }
  #ctas .ctas-normal {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    float: right;
    margin-right: 0;
  }

  #articles .field--news-item {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  #articles .field--news-item:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 480px) {
  #ctas.only-stacked .plus-list {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  #ctas.only-stacked .cta-stacked {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  #ctas.only-stacked .cta-stacked:nth-child(2) {
    display: none;
  }
  #ctas.only-stacked .cta-stacked.last {
    float: right;
    margin-right: 0;
  }
  #ctas .ctas-normal .cta {
    height: 140px;
  }
  #ctas .justify-height .cta .caption {
    min-height: 100px;
  }
  #ctas .justify-height .cta .caption a {
    padding: 20px 30px 0 15px;
  }
  #ctas .justify-height .cta .field--lijstafbeelding {
    display: block;
  }

  #banner > .container {
    max-width: 940px;
    margin: 0 auto;
    margin: 0 15px;
  }
}
@media (min-width: 480px) and (min-width: 940px) {
  #banner > .container {
    margin: 0 auto;
  }
}
@media (min-width: 480px) {
  #banner.small .accordeon {
    margin: 0;
  }
  #banner.small .accordeon .accordeon-title {
    display: block;
  }
  #banner.sitewidth .accordeon {
    margin: 0;
  }
  #banner.sitewidth .accordeon .accordeon-title {
    display: block;
  }
  #banner.sitewidth .accordeon .field--opening-hours-higlighted {
    border: 0;
    margin: 0 0 1px;
  }
  #banner.sitewidth .field--spotlight-background {
    display: block;
    height: 100%;
  }
  #banner.sitewidth .banner-title {
    min-height: 0;
    padding: 35px 0 0;
  }
  #banner.sitewidth .banner-title .field--spotlight-background {
    display: none;
    margin: 0;
  }
  #banner.sitewidth .banner-title .field--spotlight-item {
    margin: 0;
  }
  #banner.fullwidth .accordeon {
    margin: 0;
  }
  #banner.fullwidth .accordeon .accordeon-title {
    display: block;
  }
  #banner.fullwidth .accordeon .field--opening-hours-higlighted {
    border: 0;
    margin: 0 0 1px;
  }
  #banner.fullwidth .field--spotlight-background {
    display: block;
    height: 100%;
  }
  #banner.fullwidth .field--spotlight-background img {
    min-width: 100%;
    height: auto;
  }
  #banner.fullwidth .banner-title {
    min-height: 0;
    padding: 35px 0 0;
  }
  #banner.fullwidth .banner-title .field--spotlight-background {
    display: none;
    margin: 0;
  }
  #banner.fullwidth .banner-title .field--spotlight-item {
    margin: 0;
  }

  .accordeon {
    width: 40.42553%;
    float: left;
    margin-right: 2.12766%;
  }

  .banner-title {
    width: 57.44681%;
    float: left;
    margin-right: 2.12766%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 640px) {
  .accordeon {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }

  .banner-title {
    width: 65.95745%;
    float: left;
    margin-right: 2.12766%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 940px) {
  #ctas {
    margin: 45px auto 35px;
  }
  #ctas .cta-stacked .cta .field--lijstafbeelding {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
  #ctas .justify-height .cta .caption a {
    padding: 0 30px 0 15px;
  }
  #ctas .ctas-normal .cta .field--lijstafbeelding {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}
@media (min-width: 768px) {
  .accordeon {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }

  .banner-title {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
    float: right;
    margin-right: 0;
  }

  #ctas.only-stacked .plus-list {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  #ctas.only-stacked .cta-stacked {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  #ctas.only-stacked .cta-stacked:nth-child(2) {
    display: block;
  }
  #ctas.only-stacked .cta-stacked.last {
    float: right;
    margin-right: 0;
  }
  #ctas .plus-list {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  #ctas .cta-stacked {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  #ctas .cta-stacked.last {
    float: right;
    margin-right: 0;
  }
  #ctas .ctas-normal {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    float: right;
    margin-right: 0;
  }
}
#articles_teaser .field--lp-spotlights-teaser-items {
  *zoom: 1;
  padding: 25px 0;
  border-bottom: 1px solid black;
}
#articles_teaser .field--lp-spotlights-teaser-items:after {
  content: "";
  display: table;
  clear: both;
}
#articles_teaser .field--lp-spotlights-teaser-items:last-child {
  border-bottom: 0 !important;
}

#articles_spotlight .field--lp-spotlights-visual-items {
  padding: 25px 0;
  border-bottom: 1px solid black;
}
#articles_spotlight .field--lp-spotlights-visual-items .wrapper {
  *zoom: 1;
}
#articles_spotlight .field--lp-spotlights-visual-items .wrapper:after {
  content: "";
  display: table;
  clear: both;
}

#agenda {
  margin-bottom: 25px;
}
#agenda footer {
  margin-top: 25px;
}

#opening_hours_higlighted {
  padding: 25px 0;
  border-bottom: 1px solid black;
  background-color: transparent;
}
#opening_hours_higlighted:last-child {
  border-bottom: 0 !important;
}
#opening_hours_higlighted .field--opening-hours-higlighted {
  border-bottom: 1px solid #736357;
  margin-bottom: 20px;
}
#opening_hours_higlighted .field--opening-hours-higlighted:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
#opening_hours_higlighted .field--open-hours-highl-title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-family: "prox-regular", Helvetica, Arial, Sans-Serif;
  color: #534741;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 10px;
}
#opening_hours_higlighted .info {
  margin: 0;
}
#opening_hours_higlighted .info .field--open-hours-highl-ref {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#opening_hours_higlighted .info .field--open-hours-highl-ref:after {
  content: " ";
  display: block;
  clear: both;
}
#opening_hours_higlighted .info .field--open-hours-highl-ref .title {
  width: 40.42553%;
  float: left;
  margin-right: 2.12766%;
}
#opening_hours_higlighted .info .field--open-hours-highl-ref .hours-info {
  width: 57.44681%;
  float: left;
  margin-right: 2.12766%;
  float: right;
  margin-right: 0;
  text-align: right;
}
#opening_hours_higlighted .info .field--open-hours-highl-ref .openinghour.today {
  padding: 0;
}
#opening_hours_higlighted .info .field--open-hours-highl-ref .openinghour.today li {
  list-style-type: none;
}

@media (min-width: 768px) and (max-width: 940px) {
  #articles_teaser .field--lp-spotlights-teaser-items .field--spotlight-teaser-item {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  #articles_teaser .field--lp-spotlights-teaser-items .field--spotlight-teaser-item:nth-child(2n) {
    float: right;
    margin-right: 0;
  }

  #articles_spotlight .field--lp-spotlights-visual {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  #articles_spotlight .field--lp-spotlights-visual:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 940px) {
  #articles_teaser .field--lp-spotlights-teaser-items .field--spotlight-teaser-item {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  #articles_teaser .field--lp-spotlights-teaser-items .field--spotlight-teaser-item:nth-child(4n) {
    float: right;
    margin-right: 0;
  }

  #articles_spotlight .field--lp-spotlights-visual {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  #articles_spotlight .field--lp-spotlights-visual:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 480px) {
  #opening_hours_higlighted .field--opening-hours-higlighted {
    width: 31.70732%;
    float: left;
    margin-right: 2.43902%;
    border-bottom: 0;
    margin-bottom: 0;
  }
  #opening_hours_higlighted .field--opening-hours-higlighted:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
#popular-services {
  *zoom: 1;
  padding: 25px 0;
  border-bottom: 1px solid black;
}
#popular-services:after {
  content: "";
  display: table;
  clear: both;
}
#popular-services:last-child {
  border-bottom: 0 !important;
}
#popular-services:last-child {
  border-bottom: 0 !important;
}
#popular-services .field--lp-services-teaser {
  margin-bottom: 10px;
}
#popular-services .field--lp-services-teaser .field--lp-service .field--lijstafbeelding img {
  min-width: 100%;
}

.map-info {
  min-height: 250px;
}
.map-info > div,
.map-info > div > div {
  height: 100% !important;
}

#higlighted-service {
  padding: 25px 0;
  border-bottom: 1px solid black;
}
#higlighted-service:last-child {
  border-bottom: 0 !important;
}
#higlighted-service:last-child {
  border-bottom: 0 !important;
}
#higlighted-service .map-info {
  height: 210px;
}
#higlighted-service .contact {
  height: 210px;
}
#higlighted-service .contact .field--lp-hl-service,
#higlighted-service .contact .contact-wrapper {
  height: 100%;
}

#spotlight .field--spotlights {
  padding: 25px 0;
  border-bottom: 1px solid black;
}
#spotlight .field--spotlights:last-child {
  border-bottom: 0 !important;
}
#spotlight .field--spotlights:last-child {
  border-bottom: 0 !important;
}

@media (min-width: 0) and (max-width: 480px) {
  .map-info {
    height: 250px;
  }
}
@media (min-width: 480px) {
  #popular-services .field--lp-services-teaser {
    margin-bottom: 20px;
  }
  #popular-services .field--lp-services-teaser .field--lp-service .field--lijstafbeelding img {
    min-width: 0;
    max-width: none;
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 940px) {
  .field--lp-services-teaser {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  .field--lp-services-teaser:nth-of-type(3n) {
    float: right;
    margin-right: 0;
  }

  .field--fc-spotlight-item,
  .field--spotlight-teaser-item {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .field--fc-spotlight-item:nth-of-type(2n),
  .field--spotlight-teaser-item:nth-of-type(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 640px) {
  .node-type-landing-page-service #higlighted-service .service-hours,
  .node-type-landing-page-service #higlighted-service .contact,
  .node-type-landing-page-service #higlighted-service .map-info {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  .node-type-landing-page-service #higlighted-service .map-info {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 940px) {
  .field--lp-services-teaser,
  .field--fc-spotlight-item,
  .field--spotlight-teaser-item {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  .field--lp-services-teaser:nth-of-type(4n),
  .field--fc-spotlight-item:nth-of-type(4n),
  .field--spotlight-teaser-item:nth-of-type(4n) {
    float: right;
    margin-right: 0;
  }
}
.node--library-page h3 {
  text-transform: uppercase;
}
.node--library-page > .container,
.node--library-page .libraries,
.node--library-page .services,
.node--library-page .spotlight {
  max-width: 940px;
  margin: 30px auto;
}
@media (min-width: 940px) {
  .node--library-page > .container,
  .node--library-page .libraries,
  .node--library-page .services,
  .node--library-page .spotlight {
    margin: 45px auto;
  }
}
.node--library-page > .container {
  box-sizing: border-box;
  background-color: transparent;
  padding: 25px 20px;
  border-bottom: none;
}
.node--library-page > .container:last-child {
  border-bottom: 0 !important;
}
@media (min-width: 940px) {
  .node--library-page > .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
.node--library-page > .container .left {
  position: absolute;
  top: 25px;
  right: 20px;
}
@media (min-width: 940px) {
  .node--library-page > .container .left {
    position: relative;
    top: initial;
    right: initial;
    width: 23%;
  }
}
.node--library-page > .container .left .field--extend-url a {
  position: relative;
  padding: 0 0 0 28px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-family: "prox-black", Helvetica, Arial, Sans-Serif;
  color: #991c22;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}
.node--library-page > .container .left .field--extend-url a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url('../img/misc/clock.png') no-repeat left top;
  background-size: contain;
}
.node--library-page > .container .left .field--extend-url a::after {
  content: "";
  display: none;
}
@media (min-width: 940px) {
  .node--library-page > .container .left .field--extend-url a {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem;
    padding: 0 0 0 40px;
  }
  .node--library-page > .container .left .field--extend-url a::before {
    top: -2px;
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 940px) {
  .node--library-page > .container .right {
    box-sizing: border-box;
    width: 77%;
    padding: 0 0 0 20px;
    border-left: 1px solid #991c22;
  }
}
.node--library-page > .container .right form {
  position: relative;
  overflow: auto;
}
.node--library-page > .container .right .form-item-category {
  position: relative;
  float: left;
  max-width: 50%;
  margin: 0 0 65px;
  padding: 0 0 0 36px;
}
.node--library-page > .container .right .form-item-category::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 20px;
  background: url('../img/misc/book.png') no-repeat left top;
  background-size: contain;
}
.node--library-page > .container .right .form-item-category::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "\f0d7";
  font-family: "FontAwesome";
  color: #991c22;
  pointer-events: none;
}
@media (min-width: 480px) {
  .node--library-page > .container .right .form-item-category {
    padding: 0 0 0 50px;
  }
  .node--library-page > .container .right .form-item-category::before {
    width: 39px;
    height: 30px;
  }
  .node--library-page > .container .right .form-item-category::after {
    top: 5px;
  }
}
.node--library-page > .container .right .form-item-category select {
  background: none;
  border: 0;
  height: 22px;
  margin: 0;
  padding: 0 16px 0 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-family: "prox-black", Helvetica, Arial, Sans-Serif;
  color: #991c22;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
@media (min-width: 480px) {
  .node--library-page > .container .right .form-item-category select {
    height: 30px;
    padding: 0 20px 0 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
}
.node--library-page > .container .right .form-item-category select::-ms-expand {
  display: none;
}
.node--library-page > .container .right .form-item-query {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 65%;
  margin: 0;
}
.node--library-page > .container .right .form-item-query input {
  height: 40px;
  border: 0;
  margin: 0;
}
.node--library-page > .container .right .form-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 40px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.node--library-page .libraries h1 {
  margin: 0;
  padding: 1rem 20px;
  background-color: #736357;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-family: "prox-black", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
.node--library-page .libraries .drk-location-viewer {
  overflow: auto;
  background-color: transparent;
  padding: 25px 20px;
  border-bottom: none;
}
.node--library-page .libraries .drk-location-viewer:last-child {
  border-bottom: 0 !important;
}
.node--library-page .libraries .drk-location-viewer .open-location-list {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-family: "prox-black", Helvetica, Arial, Sans-Serif;
  color: #991c22;
  font-weight: normal;
  font-style: normal;
  position: relative;
  padding: 0 20px 0 0;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 940px) {
  .node--library-page .libraries .drk-location-viewer .open-location-list {
    display: none;
  }
}
.node--library-page .libraries .drk-location-viewer .open-location-list::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "\f0d7";
  font-family: "FontAwesome";
  color: #991c22;
}
.node--library-page .libraries .drk-location-viewer .open-location-list.open::after {
  transform: rotate(180deg);
}
.node--library-page .libraries .drk-location-viewer .location-list.mobile {
  display: none;
}
.node--library-page .libraries .drk-location-viewer .location-list.mobile.open {
  display: block;
}
@media (min-width: 940px) {
  .node--library-page .libraries .drk-location-viewer .location-list.mobile, .node--library-page .libraries .drk-location-viewer .location-list.mobile.open {
    display: none;
  }
}
.node--library-page .libraries .drk-location-viewer .location-list.desktop {
  display: none;
}
@media (min-width: 940px) {
  .node--library-page .libraries .drk-location-viewer .location-list.desktop {
    display: block;
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
}
.node--library-page .libraries .drk-location-viewer .location-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.node--library-page .libraries .drk-location-viewer .location-list ul li a {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: "prox-regular", Helvetica, Arial, Sans-Serif;
  color: #534741;
  font-weight: normal;
  font-style: normal;
  display: block;
  text-decoration: none;
}
.node--library-page .libraries .drk-location-viewer .location-list ul li a:hover, .node--library-page .libraries .drk-location-viewer .location-list ul li a.active {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: "prox-regular", Helvetica, Arial, Sans-Serif;
  color: #991c22;
  font-weight: normal;
  font-style: normal;
}
.node--library-page .libraries .drk-location-viewer .location-detail {
  margin: 20px 0 0;
}
@media (min-width: 940px) {
  .node--library-page .libraries .drk-location-viewer .location-detail {
    margin: 0;
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
}
.node--library-page .libraries .drk-location-viewer .location-detail h2 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: "prox-regular", Helvetica, Arial, Sans-Serif;
  color: #534741;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 16px;
}
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-address {
  margin: 0 0 20px;
}
@media (min-width: 940px) {
  .node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-address {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
}
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-opening-hours {
  margin: 0 0 20px;
}
@media (min-width: 940px) {
  .node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-opening-hours {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    float: right;
    margin-right: 0;
  }
}
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-opening-hours span {
  float: left;
}
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-opening-hours ul,
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-opening-hours li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-opening-hours ul > li > ul {
  margin: 0 0 0 50px;
}
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-more-link {
  clear: both;
}
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-more-link a {
  position: relative;
  display: block;
  padding: 5px 10px;
  border: 1px solid #534741;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: "prox-regular", Helvetica, Arial, Sans-Serif;
  color: #534741;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-more-link a:hover {
  border: 1px solid #991c22;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-family: "prox-regular", Helvetica, Arial, Sans-Serif;
  color: #991c22;
  font-weight: normal;
  font-style: normal;
}
.node--library-page .libraries .drk-location-viewer .location-detail #drk-location-viewer-more-link a::after {
  position: absolute;
  right: 10px;
  content: ">";
}
.node--library-page .libraries .drk-location-viewer #drk-location-viewer-map {
  display: none;
  width: 300px;
  max-width: 100%;
  height: 270px;
}
@media (min-width: 940px) {
  .node--library-page .libraries .drk-location-viewer #drk-location-viewer-map {
    display: block;
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    float: right;
    margin-right: 0;
  }
}
.node--library-page .services {
  overflow: auto;
}
.node--library-page .services .field--services {
  margin: 0 0 10px;
}
@media (min-width: 480px) and (max-width: 940px) {
  .node--library-page .services .field--services {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--library-page .services .field--services:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 940px) {
  .node--library-page .services .field--services {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--library-page .services .field--services:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}
.node--library-page .spotlight {
  overflow: auto;
}
.node--library-page .spotlight .p15 {
  padding: 0;
}
.node--library-page .field--lp-spotlights-teaser-items {
  max-width: 940px;
  margin: 0 auto;
}

.culturefeed h3 {
  max-width: 940px;
  margin: 0 auto;
  margin: 0 15px;
  margin-bottom: 18px;
}
.culturefeed h3 .centered {
  margin: 0;
}
@media (min-width: 940px) {
  .culturefeed h3 {
    margin: 0 auto;
  }
}
@media (min-width: 940px) {
  .culturefeed h3 {
    margin-bottom: 18px;
  }
}

.page-nieuws [class$="navigator"] .menu {
  background-color: #991c22;
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
  *zoom: 1;
}
.page-nieuws [class$="navigator"] .menu li {
  list-style-type: none;
  float: left;
}
.page-nieuws [class$="navigator"] .menu li.active-tab {
  background-color: #736357;
}
.page-nieuws [class$="navigator"] .menu li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  font-family: "prox-thin", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
  padding: 15px;
  border-left: 1px solid white;
}
.page-nieuws [class$="navigator"] .menu li a:hover {
  text-decoration: none;
}
.page-nieuws [class$="navigator"] .menu li:first-child a {
  border-left: 0;
}

.node-type-nieuws #page-title {
  margin: 0 0 3px;
}

.node--nieuws--full {
  padding: 0 0 25px 0;
  border-bottom: 1px solid black;
}
.node--nieuws--full:last-child {
  border-bottom: 0 !important;
}
.node--nieuws--full .news-spec {
  background-color: #991c22;
  padding: 0;
  margin: 0 0 20px;
}
.node--nieuws--full .news-spec li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  font-family: "prox-thin", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
  list-style-type: none;
  float: left;
  padding: 15px;
  border-left: 1px solid white;
}
.node--nieuws--full .news-spec li:first-child {
  border-left: 0;
}
.node--nieuws--full .field--adres {
  clear: both;
}
.node--nieuws--full .create-date {
  font-size: 80%;
}
.node--nieuws--full .contact-service {
  clear: both;
  margin-top: 10px;
}
.node--nieuws--full ~ .l-region--content-bottom {
  padding: 25px 0;
  border-bottom: 1px solid black;
}
.node--nieuws--full ~ .l-region--content-bottom:last-child {
  border-bottom: 0 !important;
}
@media (min-width: 480px) {
  .node--nieuws--full .contact,
  .node--nieuws--full .map-info {
    margin-bottom: 0;
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--nieuws--full .map-info {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 940px) {
  .node--nieuws--full .contact,
  .node--nieuws--full .map-info {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--nieuws--full .map-info {
    margin-right: 0;
  }
}

.page-not-found #page-title {
  margin: 32px 0;
}

.node--pagina--full .field--top-image {
  margin: 0 0 20px;
}
.node--pagina--full .field--fotoalbum {
  padding: 25px 0;
  border-bottom: 1px solid black;
}
.node--pagina--full .field--fotoalbum:last-child {
  border-bottom: 0 !important;
}
.node--pagina--full .field--fotoalbum ul {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.node--pagina--full .field--fotoalbum ul:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 480px) {
  .node--pagina--full .contact,
  .node--pagina--full .map-info {
    margin-bottom: 0;
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--pagina--full .map-info {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 940px) {
  .node--pagina--full .contact,
  .node--pagina--full .map-info {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--pagina--full .map-info {
    margin-right: 0;
  }
}

.node--product--full h3 {
  margin: 18px 0;
}
@media (min-width: 480px) {
  .node--product--full .contact,
  .node--product--full .map-info {
    margin-bottom: 0;
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--product--full .map-info {
    float: right;
    margin-right: 0;
  }
}

.page-producten .content-wrapper {
  margin-bottom: 20px;
}

.node--zaal--full {
  margin-bottom: 30px;
}
.node--zaal--full h3 {
  margin: 0;
  line-height: 19px;
  line-height: 1.1875rem;
}
.node--zaal--full .field-label {
  float: left;
  margin: 0 10px 0 0;
}
.node--zaal--full .field-label:after {
  content: ": ";
}
.node--zaal--full .field--body {
  margin: 20px 0;
}
.node--zaal--full .no-float .field-label {
  float: none;
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.node--zaal--full .field--capaciteit,
.node--zaal--full .field--faciliteiten,
.node--zaal--full .field--aantal-tafels,
.node--zaal--full .field--aantal-stoelen {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #736357;
  color: white;
  padding: 5px;
  background-color: #ededed;
  color: #534741;
  margin-right: 5px;
  margin-bottom: 5px;
}
.node--zaal--full .field--capaciteit {
  font-size: 16px;
}
.node--zaal--full .field-faciliteiten-wrapper h3 {
  margin-bottom: 5px;
}

.page-search .search-form {
  overflow: hidden;
  *zoom: 1;
}
.page-search .search-form .ui-autocomplete-input {
  background: none;
}
.page-search .search-form .form-submit {
  float: right;
}
.page-search .google-search-results {
  overflow: hidden;
  *zoom: 1;
}
.page-search .google-search-results .gss-result {
  background-color: #F6F6F6;
  margin: 0 0 20px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
.page-search .google-search-results .gss-result .content {
  width: 82.97872%;
  float: left;
  margin-right: 2.12766%;
}
.page-search .google-search-results .gss-result .thumb {
  width: 14.89362%;
  float: left;
  margin-right: 2.12766%;
  float: right;
  margin-right: 0;
}
.page-search .google-search-results .gss-result .gss-title {
  padding: 0 100px 0 0;
}
.page-search .google-search-results .gss-result .gss-thumbnail-image {
  float: right;
}
.page-search .google-search-results .gss-result .gss-search-url {
  display: none;
}
@media (min-width: 480px) {
  .page-search .google-search-results .gss-result .gss-search-url {
    display: block;
  }
}
.page-search .google-search-pager {
  margin-bottom: 20px;
}

.site-map-box .title {
  display: none;
}

#services-highlighted {
  padding: 25px 0;
  border-bottom: 1px solid black;
}
#services-highlighted:last-child {
  border-bottom: 0 !important;
}
@media (min-width: 480px) {
  #services-highlighted .service-item-big {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  #services-highlighted .service-item-big:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  #services-highlighted .service-item-small {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  #services-highlighted .service-item-small:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}

#services-spotlights {
  padding: 25px 0;
  border-bottom: none;
}
#services-spotlights:last-child {
  border-bottom: 0 !important;
}

.carrousel-full {
  background-color: #736357;
}

@media (min-width: 480px) {
  .node--service--full .contact,
  .node--service--full .map-info {
    margin-bottom: 0;
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--service--full .map-info {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 940px) {
  .node--service--full .contact,
  .node--service--full .map-info {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--service--full .map-info {
    margin-right: 0;
  }
}

.node--vereniging--full .field--lijstafbeelding img {
  width: 100%;
}
.node--vereniging--full .contact {
  margin-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1empx;
  font-size: 0.0625emrem;
  line-height: 1empx;
  line-height: 0.0625emrem;
  font-family: "prox-thin", Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: normal;
  font-style: normal;
}
.node--vereniging--full .contact p,
.node--vereniging--full .contact pre,
.node--vereniging--full .contact h2,
.node--vereniging--full .contact h3,
.node--vereniging--full .contact h4 {
  color: white;
}
.node--vereniging--full .contact .field-label,
.node--vereniging--full .contact .wrapper-field-e-mailadres,
.node--vereniging--full .contact .field--extra-informatie {
  clear: both;
}
.node--vereniging--full .contact .contact-wrapper {
  padding: 25px;
}
.node--vereniging--full .contact .contact-wrapper h3 {
  float: none !important;
}
.node--vereniging--full .contact .contact-wrapper .global-info .field-label {
  margin-left: 0 !important;
}
.node--vereniging--full .contact .contact-wrapper .field-name-field-address_street,
.node--vereniging--full .contact .contact-wrapper .field-name-field-address_zip,
.node--vereniging--full .contact .contact-wrapper .field-name-field-address_city {
  font-size: 20px;
}
.node--vereniging--full .map-info {
  width: 100%;
}
@media (min-width: 480px) {
  .node--vereniging--full .contact,
  .node--vereniging--full .map-info {
    margin-bottom: 0;
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }
  .node--vereniging--full .map-info {
    float: right;
    margin-right: 0;
  }
}

/*# sourceMappingURL=page-styles.css.map */
