.accordeon {
  &.accordeon-replace-title {
    .accordeon-title.open {
      position: relative;

      &:after {
        content: "";
        background-color: mg($accordeon, replace_title_after_color);
        @include rect(mg($accordeon, replace_title_after_width), mg($accordeon, replace_title_after_height));
        margin: mg($accordeon, replace_title_after_margin);
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }

  .accordeon-title {
    @include typo(mg($accordeon, title_ff), mg($accordeon, title_fsz), mg($accordeon, title_fsz), mg($accordeon, title_color));
    margin: mg($accordeon, title_margin);
    display: none;
  }

  .field--opening-hours-higlighted {
    position: relative;
    background-color: mg($accordeon, bgc);
    margin: 0;
    overflow: hidden;
    height: mg($accordeon, element_normal_height);
    border: mg($accordeon, element_border);
    border-bottom: mg($accordeon, element_border_bottom);

    .csstransitions & {
      @include ceaser-transition(all, $fast_speed, $easeOutExpo);
    }

    &.hide {
      @include opacity(0);
      height: 0;
    }

    &:hover {
      background-color: darken(mg($accordeon, bgc), 10%);

      .field--open-hours-highl-title {
        @if mg($accordeon, element_title_transform) == true {
          &:after {
            @include scaleY(-1);
          }
        }

        .no-csstransforms & {
          &:after {
            @include background(image-url("layout/#{mg($accordeon, element_title_arrowdown_image_hover)}.png") no-repeat center center);
          }
        }
      }
    }

    &.active {
      height: mg($accordeon, element_total_height);
      background-color: mg($accordeon, active_bgc);

      &:hover {
        background-color: mg($accordeon, active_bgc);
      }

      .field--open-hours-highl-title {
        &:after {
          top: 0;
          margin: mg($accordeon, element_title_arrowdown_margin);

          @include scaleY(-1);
        }

        .no-csstransforms & {
          &:after {
            @include background(image-url("layout/#{mg($accordeon, element_title_arrowdown_image_hover)}.png") no-repeat center center);
          }
        }
      }
    }

    .field--open-hours-highl-title {
      @include typo(mg($accordeon, element_title_ff), mg($accordeon, element_title_fsz), mg($accordeon, element_title_fsz), mg($accordeon, element_title_color));
      padding: mg($accordeon, element_title_padding);
      cursor: pointer;
      margin: 0;

      &:after {
        content: "";
        @include rect(mg($accordeon, element_title_arrowdown_width), mg($accordeon, element_title_arrowdown_height));
        @include background(image-url("svg/#{mg($accordeon, element_title_arrowdown_image)}.svg") no-repeat center center);
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -(mg($accordeon, element_title_arrowdown_height))/2 #{$large}px 0 #{$large}px;

        .csstransitions & {
          @include ceaser-transition(transform, $fast_speed, $easeOutExpo);
        }

        .no-svg & {
          @include background(image-url("layout/#{mg($accordeon, element_title_arrowdown_image)}.png") no-repeat center center);
        }
      }
    }
  }
}
