.account {
  ul {
    li {
      float: right;
      list-style-type: none;
      padding: 0 mg($account, li_padding);
      border-left: mg($account, li_border);

      &.logout,
      &.register {
        border-left: 0;
        padding: 0 mg($account, li_padding) 0 0;
      }

      &.login {
        padding: 0 0 0 mg($account, li_padding);
      }

      &.profile {
        padding: 0 0 0 mg($account, li_padding);
      }

      a {
        display: inherit;
        text-decoration: none;
        text-transform: mg($account, a_tt);
        @include typo(mg($account, a_font_family), mg($account, a_fontsize), mg($account, a_fontsize), mg($account, a_color));

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
