.adress-exceptions {
  @include typo($body_font_family, $font_size, $font_size, $white);
  background-color: mg($adress_exceptions, bgc);
  padding: mg($adress_exceptions, padding);

  table {
    margin: 0 0 20px;
  }

  h3,
  h4 {
    margin: 0;
    color: $white;
  }

  h3 {
    margin: 0 0 5px;
  }
}
