.closing-periods {
  margin: 0 0 25px;

  h3 {
    margin: 0 0 #{$font_size_h3}px;
  }

  table {
    @include box-sizing(border-box);
    display: block;
    width: 100%;
    background-color: #FFF;
    @include opacity(.9);
    padding: 20px;
    color: map-get($colors, "first");
    margin-bottom: 10px;
    font-family: font-family-stack($base_font_family, "regular", $base_font_stack);

    tr td:last-child {
      @include inline-block;
      vertical-align: top;
      margin: 0 0 0 20px;
      font-family: font-family-stack($base_font_family, "thin", $base_font_stack);
    }
  }
}
