#comments {
  .mollom-flag-content {
    background-color: #F1F1F1;
    padding: 10px;
    margin-bottom: 24px;

    .comment {
      h3 {
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }

      footer {
        p {
          margin-top: 8px;
          font-style: italic;
          font-size: .8rem;
          color: #555;
        }
      }

      ul.links {
        li {
          background-color: map-get($colors, "second");
          padding: 4px 8px;

          a {
            text-decoration: none;
            font-size: .8rem;
            color: $white;
          }
        }
      }

      mark {
        background: map-get($colors, "second");
        color: $white;
        padding: 1px 2px;
        display: inline-block;
        margin-bottom: 8px;
      }
    }
  }

  .comment-form {
    border-top: 1px solid;
  }

  .indented {
    margin-left: 16px;
  }
}
