.cta {
  @include ceaser-transition(all, $fast_speed, $easeOutExpo);
  background-color: mg($cta, bgc);
  margin: mg($cta, margin);
  cursor: pointer;

  &:hover {
    background-color: mg($cta, bgc_hover);

    .caption a:after {
      @include rect(mg($cta, caption_arrow_width), mg($cta, caption_arrow_height));
      @include background(image-url("svg/#{mg($cta, caption_arrow_image)}.svg") no-repeat center center);
      margin: mg($cta, caption_arrow_margin);

      .no-svg & {
        @include background(image-url("layout/#{mg($cta, caption_arrow_image)}.png") no-repeat center center);
      }
    }
  }

  &:first-child {
    margin: 0;
  }

  .field--lijstafbeelding,
  .caption {
    @include inline-block;
  }

  .field--lijstafbeelding {
    img {
      max-width: none;
      display: block;
      border-right: mg($cta, list_image_border);
      width: mg($cta, img_width) !important;
      height: mg($cta, img_height) !important;
    }
  }

  .caption {
    position: relative;
    width: 100%;

    a {

      @include typo(mg($cta, caption_ff), mg($cta, caption_fsz), mg($cta, caption_fsz), mg($cta, color));
      padding: mg($cta, caption_margin);
      text-decoration: none;
      @include inline-block;

      &:after {
        content: "";
        @include rect(mg($cta, caption_plus_width), mg($cta, caption_plus_height));
        @include background(image-url("svg/#{mg($cta, caption_arrow_image)}.svg") no-repeat center center);
        @include corner(absolute, "r");
        display: block;
        margin: mg($cta, caption_plus_margin);

        .no-svg & {
          @include background(image-url("layout/#{mg($cta, caption_arrow_image)}.png") no-repeat center center);
        }
      }
    }
  }
}
