.ui-datepicker {
  z-index: 99;

  .ui-datepicker-prev {
    width: 3em;

    span {
      left: 0;
      margin-left: 0;
    }
  }

  .ui-datepicker-next {
    width: 4.5em;

    span {
      left: initial;
      right: 0;
      margin-left: 0;
    }
  }

  .ui-datepicker-title {
    margin: 0 4.5em 0 3.1em;
  }
}

.ui-daterangepicker {
  background-color: mg($ui_datepicker, item_bgc);

  li.ui-state-hover,
  li.ui-state-active {
    padding: mg($ui_datepicker, link_hover_padding);
  }

  li.preset_0 {
    margin-top: 1px !important;
  }

  tbody tr td a.ui-state-active {
    border: 1px solid map-get($colors, "first");
  }
}
