.file {
  @include inline-block;

  img {
    @include inline-block;
    margin: 0 5px 0 0;
  }

  a {
    @include inline-block;
    font-family: font-family-stack($base_font_family, "thin", $base_font_stack);

    &:hover {
      text-decoration: none;
    }
  }
}
