input[type="text"],
input[type="email"],
textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="min"],
input[type="max"],
input[type="value"],
input[type="step"],
input[type="reset"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  webkit-appearance: none;
  @include border-radius(0);
  @include box-sizing(border-box);
  @include typo($body_font_family, mg($input, font_size), mg($input, font_size), mg($input, color));
  margin: mg($input, margin);
  width: 100%;
  display: block;
  padding: mg($input, padding);
  border: mg($input, border);
  @include ceaser-transition(all, $fast_speed, $easeOutExpo);

  &:focus {
    outline: none !important;
    box-shadow: mg($input, focus_shadow);
  }
}

.webform-component-date select,
.webform-component-date input {
  display: inline;
  margin-right: .5em;
  max-width: 150px;
}

.webform-component .hour.form-select,
.webform-component .minute.form-select {
  display: inline;
  max-width: 100px;
}

input[type="radio"] {
  margin-left: 1px;
}
