%link,
.link {
  background-color: map-get($colors, "first");
  padding: 15px 35px 15px 20px;
  margin: 10px 0;
  text-decoration: none;
  position: relative;
  @include typo($body_font_family, $font_size_large, $font_size_large, mg($plus_list, item_color));
  @include inline-block;
  @include box-sizing(border-box);

  &:hover {
    background-color: darken(map-get($colors, first), 20%);
  }

  &:after {
    content: "";
    margin: -10px 15px 0 10px;
    @include corner(absolute, "r");
    @include rect(mg($plus_list, item_arrow_width), mg($plus_list, item_arrow_height));
    @include background(image-url("svg/#{mg($plus_list, item_arrow_image)}.svg") no-repeat center center);

    .no-svg & {
      @include background(image-url("layout/#{mg($plus_list, item_arrow_image)}.png") no-repeat center center);
    }
  }

  &.pull-bottom {
    padding: 10px 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;

    &:after {
      margin: -10px 20px 0 10px;
    }
  }
}

.related-items a,
.node--product--full .field--formulier a,
.node--product--full .field--wetgeving a {
  @extend %link;
  color: mg($link_blok, link_blok_a_color);
  background-color: mg($link_blok, link_blok_bg_color);
}

.related-items {
  font-size: 12px;

  a {
    margin: 0 0 5px;
    padding: 10px 30px 10px 15px;
  }
}
