.block--search-form {
  @include ceaser-transition(width, $fast_speed, $easeOutExpo);
  width: mg($layout, main_search_tablet_width);

  &:not(.mobile-searchbox) {
    position: absolute;
    top: mg($main_search, top);
    right: 0;
  }

  &.mobile-searchbox {
    width: 100%;

    @include breakpoint(map-get($breakpoints, "mobile")) {
      display: none;
    }

    form {
      margin: 0 10px 10px;
    }
  }

  .container-inline {
    position: relative;
  }

  .form-text {
    @include inline-block;
    @include typo($body_font_family, mg($main_search, input_font_size), mg($main_search, input_font_size), mg($main_search, input_color));
    position: relative;
    margin: 0;
    padding: mg($main_search, input_padding);
    background: mg($main_search, input_bgc);
    text-transform: mg($main_search, input_tt);
    height: mg($main_search, input_height);
  }

  .form-actions {
    @if mg($main_search, submit_hidetext) {
      @include corner(absolute, "r");
    } @else {
      @include corner(absolute, "tr");
    }

    .form-submit {
      border: 0;
      padding: mg($main_search, submit_padding);
      display: block;

      @if mg($main_search, submit_hidetext) {
        @include hide-text();
        @include square(mg($main_search, submit_w_and_h));
        @include background(image-url("svg/#{mg($main_search, submit_image)}.svg") no-repeat center center);
        margin: -(mg($main_search, submit_w_and_h))/2 #{$med}px 0 0;

        .no-svg & {
          @include background(image-url("layout/#{mg($main_search, submit_image)}.png") no-repeat center center);
        }

        &:hover {
          background-color: transparent;
        }
      } @else {
        margin: 0;
      }
    }
  }
}
