// LEVEL 1
.l-region--main-navigation {
  display: none;

  .menu-block-wrapper {
    > .menu {
      padding: 0;

      li {
        list-style-type: none;
      }

      > li {
        float: left;
        position: relative;
        margin: mg($main_nav, li_margin);

        .front & {
          &:after {
            display: none;
          }
        }

        &:after {
          @include ceaser-transition(all, $fast_speed, $easeOutExpo);
          height: 0;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          background-color: map-get($colors, "first");
        }

        &.active,
        &.active-trail {
          &:hover {
            &:after {
              height: 5px;
            }
          }

          &:after {
            height: 5px;
          }

          a {
            font-family: mg($main_nav, li_a_active_ff);
          }
        }

        &:first-child {
          margin: 0;
        }

        &:hover {
          &:after {
            height: 3px;
          }
        }

        a,
        span {
          @include ceaser-transition(all, 0, $easeOutExpo);
          @include typo(mg($main_nav, li_a_ff), mg($main_nav, li_a_fsz), mg($main_nav, li_a_lh), mg($main_nav, li_a_color));
          display: inherit;
          text-decoration: none;
          cursor: pointer;
        }

        a {
          &:hover {
            color: map-get($colors, "second");
          }
        }
      }
    }
  }
}

.l-region--secondary-navigation {
  background-color: mg($main_nav, level_2_bgc);
}

// LEVEL 2
.menu-level-2 {
  display: none;
  height: mg($main_nav, level_2_height);
  width: 100%;

  li {
    list-style-type: none;
  }

  > .menu {
    @include centered(940px);
    position: relative;
    padding: 0;

    > li {
      @include box-sizing(border-box);
      float: left;
      margin: 0;
      position: static;

      &.show-toggle,
      &.active,
      &.active-trail {
        > a,
        > span {
          background-color: map-get($colors, "second");
        }
      }

      // &.first {
      //   > a,
      //   > span {
      //     padding-left: 0;
      //   }
      // }

      > a,
      > span {
        padding: mg($main_nav, level_2_padding);
        @include typo(mg($main_nav, level_2_ff), mg($main_nav, level_2_fsz), mg($main_nav, level_2_fsz), mg($main_nav, level_2_color));
        @include ceaser-transition(all, $fast_speed, $easeOutExpo);
        @include inline-block;
        text-decoration: none;
        cursor: pointer;
      }

      &:hover {
        > a {
          background-color: map-get($colors, "second");
        }

        > span {
          background-color: darken(map-get($colors, "second"), 5%);
        }

        .menu {
          display: block;
        }
      }

      // LEVEL 3
      > .menu {
        @include box-sizing(border-box);
        position: absolute;
        display: none;
        z-index: 200;
        left: 0;
        padding: 20px;
        top: 45px;
        width: 100%;
        min-height: 200px;
        background-color: darken(map-get($colors, "second"), 5%);

        > li {
          @include span(3 of 12);

          a,
          span {
            padding: 0;
            @include typo(font-family-stack($base_font_family, "bold", $base_font_stack), $font_size_base - 2, $font_size_base - 2, $white);
            @include inline-block;
            text-decoration: none;
            cursor: pointer;
          }

          &:nth-child(4n) {
            @include last;
          }

          // LEVEL 4
          > .menu {
            padding: 0 0 20px;

            > li {
              > a {
                @include typo(font-family-stack($base_font_family, "regular", $base_font_stack), $font_size_small, $font_size_small, $white);
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint(map-get($breakpoints, "navwidth")) {
  .menu-level-2 {
    > .menu {
      > li {
        > a,
        > span {
          padding: mg($main_nav, level_2_padding_large);
        }
      }
    }
  }
}
