.field--news-item {
  figcaption {
    padding: 15px mg($news_teaser, after_width)+15px 15px 15px;
  }

  h3 {
    margin: mg($news_teaser, h3_margin);

    a {
      @include typo(mg($news_teaser, h3_ff), mg($news_teaser, h3_fsz), mg($news_teaser, h3_fsz), mg($news_teaser, h3_color));
      text-decoration: none;
    }
  }

  .bgc-color-second {
    h3 {
      a {
        color: $white;
      }
    }
  }

  figure {
    position: relative;
  }

  .field--lijstafbeelding {
    position: relative;

    a {
      display: block;

      img {
        vertical-align: bottom;
      }
    }

    img {
      max-width: none;
      width: 100%;
      height: auto;
    }
  }

  .date-top-left {
    .field--datum {
      @include corner(absolute, "tl");
    }
  }

  .title-icon {
    h3 {
      position: relative;

      a {
        margin: 0 10px 0 0;
      }

      &:after {
        @include rect(mg($news_teaser, after_width), mg($news_teaser, after_height));
        @include background(image-url("svg/#{mg($news_teaser, after_image)}.svg") no-repeat center center);
        @include corner(absolute, "r");
        right: -(mg($news_teaser, after_width)) - 3px;
        content: "";
        margin: mg($news_teaser, after_margin);
        display: block;

        .no-svg & {
          @include background(image-url("layout/#{mg($news_teaser, after_image)}.png") no-repeat center center);
        }
      }
    }
  }

  .no-date {
    h3 {
      margin-top: 22px;
    }
  }
}
