.news-items {
  .views-row {
    background-color: #EDEDED;
    margin: 0 0 20px;
    padding: 15px;
    @include clearfix;

    .content {
      @include span(10 of 12);

      .field--datum,
      .views-field-title {
        @include inline-block;
        vertical-align: top;
      }

      .field--datum ~ .views-field-title {
        padding: #{$font_size_h2 - 3}px 0 0 5px;
      }
    }

    .thumb {
      @include span(2 of 12);
      @include last;

      .field-content {
        float: right;
      }
    }
  }
}
