.openinghour {
  &.state {
    @include pill;

    &.open {
      color: mg($pill, open_color);
      background-color: mg($pill, open_bgc);
    }

    &.closed {
      color: mg($pill, closed_color);
      background-color: mg($pill, closed_bgc);
    }
  }

  &.today {
    margin: mg($pill, today_margin);
  }
}


@if mg($info, openinghour_is_inlineblock) == false {
  table {
    &.openinghour.today {
      width: 100%;
      text-align: right;
    }
  }
}
