.opening-exceptions {
  h3 {
    margin: 0 0 #{$font_size_h3}px 0;
  }

  .accordion-item {
    @include box-sizing(border-box);
    background-color: rgba($white, .9);
    padding: 10px 20px 0;
    color: map-get($colors, "first");
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      background-color: $white;
    }

    &.active {
      cursor: default;
      padding: 10px 20px 20px;
      background-color: $white;

      .day {
        height: auto;
        overflow: visible;
      }

      h4 {
        &:after {
          @include scaleY(-1);
        }
      }
    }

    h4 {
      font-family: font-family-stack($base_font_family, "regular", $base_font_stack);
      margin: #{$font_size_h3}px 0;
      color: map-get($colors, "first");
      position: relative;

      &:after {
        content: "";
        @include ceaser-transition(transform, $fast_speed, $easeOutExpo);
        @include rect(mg($accordeon, element_title_arrowdown_width), mg($accordeon, element_title_arrowdown_height));
        @include background(image-url("svg/#{mg($accordeon, element_title_arrowdown_image)}.svg") no-repeat center center);
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -(mg($accordeon, element_title_arrowdown_height))/2 #{$large}px 0 #{$large}px;

        .no-svg & {
          @include background(image-url("layout/#{mg($accordeon, element_title_arrowdown_image)}.png") no-repeat center center);
        }
      }
    }

    .day {
      margin: 0 0 2px;
      height: 0;
      overflow: hidden;

      .weekday {
        text-align: left;
        width: 15%;

        &:after {
          content: ": ";
        }
      }


      .weekday,
      .data {
        @include inline-block;
        vertical-align: top;
      }
    }

    table {
      margin: 0;
    }
  }
}
