ul.quicktabs-tabs {
  padding: 0;

  li {
    display: block !important;
    float: left;
    margin: 0 1px 0 0;
    padding: 0 !important;

    a {
      @include inline-block;
      padding: 5px;
      text-decoration: none;
      @include typo(font-family-stack($base_font_family, "regular", $base_font_stack), $font_size_base - 2, $font_size_base - 2, map-get($colors, "second"));

      &:hover {
        background-color: map-get($colors, "second");
        color: $white;
      }
    }

    &.active {
      a {
        background-color: map-get($colors, "second");
        color: $white;
      }
    }
  }
}
