#mid .tabs li {
  margin: 0 10px 10px 0;

  a {
    @include pill;
    text-decoration: none;
    padding: 10px;
    background-color: map-get($colors, "first");

    &:hover,
    &.active {
      background-color: darken(map-get($colors, "first"), 20%);
    }
  }
}

.open-tabs {
  position: fixed;
  left: 0;
  z-index: 597;
  margin: mg($drupal_tabs, margin);
  @include typo(font-family-stack($base_font_family, "regular", $base_font_stack), $font_size_h4, $font_size_h4, mg($drupal_tabs, wheel_color));
}

.tabs-container {
  position: fixed;
  left: 0;
  z-index: 599;
  min-width: mg($drupal_tabs, min_width);
  @include opacity(0);
  @include ceaser-transition(all, $fast_speed, $easeOutBack);
  @include box-shadow(0 0 2px rgba($black, .2));

  a {
    @include typo(font-family-stack($base_font_family, "regular", $base_font_stack), $font_size_h4, $font_size_h4, mg($drupal_tabs, link_color));
    display: block;
    text-decoration: none;
    background-color: mg($drupal_tabs, link_bgc);
    padding: mg($drupal_tabs, link_padding);

    &.active {
      background-color: mg($drupal_tabs, link_hover_bgc);
    }

    &:hover {
      background-color: mg($drupal_tabs, link_hover_bgc);
    }
  }

  .element-invisible {
    display: none;
  }

  .close-tabs {
    &:hover {
      background-color: mg($drupal_tabs, link_bgc);
      cursor: default;
    }

    i {
      @include inline-block;
      cursor: pointer;
      margin: mg($drupal_tabs, close_margin);
    }
  }

  .tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: none;
      margin-right: 0;
      margin: 0;

      > a { display: block; }
    }
  }

  + .stretch {
    background-color: mg($drupal_tabs, overlay_color);
  }

  &.tabs-open {
    margin: mg($drupal_tabs, margin);
    @include opacity(1);

    + .stretch {
      background-color: mg($drupal_tabs, overlay_color);
    }
  }
}
