.group-items {
  h3,
  .view-grouping-header {
    @include typo(font-family-stack($base_font_family, "bold", $base_font_stack), $font_size_h2, $font_size_h2*3, map-get($colors, "first"));
    border-bottom: 1px solid map-get($colors, "first");

    a {
      text-decoration: none;
    }
  }

  .views-row {
    margin: 0 0 10px;
    @include inline-block;
    @include span(12 of map-get($susy, columns));
    @include last;

    .content {
      @include breakpoint(map-get($breakpoints, "tablet")) {
        @include span(9 of map-get($susy, columns));
        @include last;
      }
    }

    .thumb {
      @include breakpoint(map-get($breakpoints, "tablet")) {
        @include span(3 of map-get($susy, columns));
      }
    }
  }

  .views-row-last {
    margin: 0 0 40px;
  }
}

